body{
  background-color:#ffffff;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  -webkit-font-smoothing:antialiased;
  text-size-adjust:100%;
  }
  .ReadMsgBody{
    width:100%;
    background-color:#ffffff;
  }
  a{
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
  }
  *{
    text-size-adjust:100%;
    box-sizing:border-box;
  }
  table, td{
    border-collapse:collapse;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
  }
  [owa] .onecolumn1{
    max-width:600px !important;
  }
  [owa] .onecolumn2{
    max-width:300px !important;
  }
  [owa] .onecolumn3{
    max-width:200px !important;
  }
  [owa] .onecolumn4{
    max-width:150px !important;
  }
  [owa] .column600{
    max-width:600px !important;
  }
  [owa] .column400{
    max-width:400px !important;
  }
  [owa] .column300{
    max-width:300px !important;
  }
  [owa] .column200{
    max-width:200px !important;
  }
  [owa] .column150{
    max-width:150px !important;
  }
  .button{
    display:inline-block !important;
    line-height:60px !important;
  }
  .button60{
    display:inline-block !important;
    line-height:60px !important;
  }
  .button40{
    display:inline-block !important;
    line-height:40px !important;
  }
  .button30{
    display:inline-block !important;
    line-height:30px !important;
  }
  .c1538{
    display:none;
  }
  .c1512{
    padding:20px 0px 50px 0px;
    background-color:#FFFFFF;
  }
  .c1504{
    border-color:#808080;
  }
  .c1496{
    border-color:#808080;
  }
  .c1488{
    border-color:#808080;
  }
  .c1713{
    font-size:12px;
    font-weight:300;
    vertical-align:top;
    color:#6F777D;
    margin:0;
    padding:0;
    border-color:#6f777d;
    width:100%;
  }
  .c1705{
    border-color:#808080;
  }
  .c1697{
    border-color:#808080;
  }
  .c1689{
    height:150px;
    margin:0 auto 10px auto;
    padding:5px 5px 5px 5px;
    width:100%;
    border-color:#808080;
  }
  @media only screen and (max-width: 768px){
    .container{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .buttoncontainer{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .column600{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .column400{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .column300{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .column200{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .column150{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .image-responsive{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
      height:auto !important;
    }
    .video-responsive{
      height:auto !important;
    }
    .center{
      text-align:center !important;
    }
    .hideformobile{
      display:none !important;
    }
    .autoheight{
      height:auto !important;
    }
  }
  @media only screen and (min-width: 660px){
    .container{
      max-width:620px;
    }
    .column600{
      max-width:600px !important;
    }
    .column400{
      max-width:400px !important;
    }
    .column300{
      max-width:300px !important;
    }
    .column200{
      max-width:200px !important;
    }
    .column150{
      max-width:150px !important;
    }
  }
  @media only screen and (min-width: 640px){
    .container{
      max-width:620px;
    }
    .onecolumn1{
      max-width:600px !important;
    }
    .onecolumn2{
      max-width:300px !important;
    }
    .onecolumn3{
      max-width:200px !important;
    }
    .onecolumn4{
      max-width:150px !important;
    }
  }
  @media only screen and (max-width: 640px){
    .container{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .onecolumn1{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .onecolumn2{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .onecolumn3{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .onecolumn4{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .image-responsive{
      width:100% !important;
      min-width:100% !important;
      max-width:100% !important;
    }
    .center{
      text-align:center !important;
    }
    .hideformobile{
      display:none !important;
    }
  }
