<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <style type="text/css">
    /* GLOBAL AND EMAIL CLIENT SPECIFIC STYLES */
    body { padding: 0 !important;margin: 0 !important;display: block !important;min-width: 100% !important;width: 100% !important;-webkit-text-size-adjust: none; }
    @viewport {width:device-width !important;}
    a[x-apple-data-detectors] {color: inherit !important;text-decoration: none !important;font-size: inherit !important;font-family: inherit !important;font-weight: inherit !important;line-height: inherit !important;}
    img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
    .mcnPreviewText { display: none !important; }
    .ReadMsgBody { width: 100%; }
    .ExternalClass { width: 100%; }
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height:100%;}
    .yshortcuts a { border-bottom: none !important; }
    a { text-decoration:none }
  </style>
</head>

<body style="margin: 0 auto; padding: 0;">

<!--======== WRAPPER ===========-->
<table class="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" style="margin: 0 auto; padding: 0; width: 100%;"><tr><td align="center" style="border-collapse: collapse;">

<!--======== FOOTER BLOCK ===========-->
<table class="block footer" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td style="border-collapse: collapse;">

      <!--======== TEXT BLOCK ===========-->
      <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
            This email was sent to: %%CRMemail%%<br/>
            This email was sent by: %%Member_Busname%%<br/>
            %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
            &copy; 2019 Auberge Resort Collection<br/>
            <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
            <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
            <a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a>
          </td>
        </tr>
        <tr>
        <td>

        	<!--======== RULE BLOCK ===========-->
        	<table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        	  <tr>
        	    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
        	  </tr>
        	</table>
        	<!--======== RULE BLOCK ===========-->


        </td>
        </tr>
        <tr>
        <td>

        	<!--======== LOGO ONLY BLOCK ===========-->
        	<table class="block logo-only" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        	  <tr>
        	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 30px;">
        	      <a href="https://www.aubergeresorts.com/?utm_medium=email&utm_source=reach&utm_campaign=050819-cr-email-sunshinevine&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14824/TD/Images/ARC_HorSmall_rgb_20181114163828_20181206203011.jpg" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" /></a>
        	    </td>
        	  </tr>
        	</table>
        	<!--======== LOGO ONLY BLOCK ===========-->

        </td>
        </tr>
      </table>
      <!--======== TEXT BLOCK ===========-->

    </td>
  </tr>
</table>
<!--======== FOOTER BLOCK ===========-->

</td></tr></tbody></table>
<!--======== WRAPPER ===========-->

</body>
