<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <style>.c42627{
    border-collapse:collapse;
    text-align:left;
    font-family:Times, Times New Roman, Georgia, serif;
    font-size:18px;
    color:#666666;
    }
    .c42603{
      border-collapse:collapse;
      border-spacing:0px !important;
      mso-table-lspace:0;
      mso-table-rspace:0;
    }
    .c42587{
      border-collapse:collapse;
    }
    .c42563{
      width:620px;
      border-collapse:collapse;
      border-spacing:0px !important;
      mso-table-lspace:0;
      mso-table-rspace:0;
    }
    .c43137{
      font-family:"Financier Light", Georgia, Times, serif;
      font-size:20px;
    }
    @media (max-width: 620px){
      table[block-type="layout-block"]{
        width:100% !important;
      }
      .block .text{
        width:90% !important;
      }
    }
  </style>
</head>
<body>
  <table block-type="layout-block" blocklabel="Custom - Text" align="center" width="620" border="0" cellspacing="0" cellpadding="0" class="block c42563" style="width: 620px; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px !important;">
    <tbody>
      <tr>
        <td align="center" class="c42587" style="border-collapse: collapse;">
          <div data-navis-type="editable-html-block">
            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="text c42603" style="border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px !important;">
              <tbody>
                <tr>
                  <td align="left" valign="top" class="c42627" style="border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color: #666666;">
                    <div>
                      <span class="c43137" style="font-family: 'Financier Light', Georgia, Times, serif; font-size: 20px;">Aspen more than lives up to its reputation as a winter wonderland, but 12 Days of Aspen, hosted each holiday season by the Aspen Chamber Resort Association</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
