<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <style>body{
    background-color:#ffffff;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    -webkit-font-smoothing:antialiased;
    text-size-adjust:100%;
    }
    .ReadMsgBody{
      width:100%;
      background-color:#ffffff;
    }
    a{
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
    }
    *{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    table, td{
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    [owa] .onecolumn1{
      max-width:600px !important;
    }
    [owa] .onecolumn2{
      max-width:300px !important;
    }
    [owa] .onecolumn3{
      max-width:200px !important;
    }
    [owa] .onecolumn4{
      max-width:150px !important;
    }
    [owa] .column600{
      max-width:600px !important;
    }
    [owa] .column400{
      max-width:400px !important;
    }
    [owa] .column300{
      max-width:300px !important;
    }
    [owa] .column200{
      max-width:200px !important;
    }
    [owa] .column150{
      max-width:150px !important;
    }
    .button{
      display:inline-block !important;
      line-height:60px !important;
    }
    .button60{
      display:inline-block !important;
      line-height:60px !important;
    }
    .button40{
      display:inline-block !important;
      line-height:40px !important;
    }
    .button30{
      display:inline-block !important;
      line-height:30px !important;
    }
    .c173321{
      display:none;
    }
    .c173295{
      padding:20px 0px 50px 0px;
      background-color:#FFFFFF;
    }
    .c173287{
      border-color:#808080;
    }
    .c173279{
      border-color:#808080;
    }
    .c173271{
      border-color:#808080;
    }
    .c173960{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173949{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#666666;
      font-size:12px;
      font-weight:bold;
      letter-spacing:1px;
    }
    .c173939{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173929{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174099{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174088{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      font-family:Times, Times New Roman, Georgia, serif;
      font-size:22px;
      color:#525252;
      text-align:left;
      padding-top:5px;
      padding-bottom:10px;
    }
    .c174078{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174068{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174244{
      text-size-adjust:100%;
      box-sizing:border-box;
      border:0px;
      display:block;
      float:none;
      width:100%;
      height:auto;
    }
    .c174238{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
    }
    .c174227{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c174217{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174207{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174400{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174389{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      padding-bottom:10px;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#9c9c9c;
      font-size:14px;
      font-weight:bold;
      letter-spacing:2px;
    }
    .c174379{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174369{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174528{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:1px;
      line-height:1px;
      height:1px;
    }
    .c174518{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174508{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174652{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174641{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      border-collapse:collapse;
      padding-bottom:0;
      text-align:left;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      color:#9c9c9c;
    }
    .c174631{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174621{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174843{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
      color:#383838;
      text-decoration:none;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      letter-spacing:1px;
      font-weight:bold;
    }
    .c174832{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      padding-bottom:0;
      text-align:left;
      vertical-align:middle;
      height:30px;
    }
    .c174822{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174812{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c175022{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
      font-size:10px;
      letter-spacing:1px;
      text-align:center;
      font-family:Arial, sans-serif;
      font-weight:bold;
      color:#383838;
      text-decoration:none;
    }
    .c175011{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      border-radius:15px;
      color:#383838;
      height:30px;
      background-color:#e6c870;
      padding:0px 15px;
    }
    .c175001{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174991{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174980{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174960{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c174950{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174940{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174800{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    .c174930{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    .c174780{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      border-collapse:collapse;
    }
    .c174770{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c174760{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173917{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174056{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174195{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174358{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174496{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174609{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c174748{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c173896{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c173886{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173876{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173864{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c173852{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173839{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c173827{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173815{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173802{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      width:300px;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c173794{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173785{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c173777{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173769{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c173761{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      width:620px;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177362{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177351{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#666666;
      font-size:12px;
      font-weight:bold;
      letter-spacing:1px;
    }
    .c177341{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177331{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177500{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177489{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      font-family:Times, Times New Roman, Georgia, serif;
      font-size:22px;
      color:#525252;
      text-align:left;
      padding-top:5px;
      padding-bottom:10px;
    }
    .c177479{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177469{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177644{
      text-size-adjust:100%;
      box-sizing:border-box;
      border:0px;
      display:block;
      float:none;
      width:100%;
      height:auto;
    }
    .c177638{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
    }
    .c177627{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c177617{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177607{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177800{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177789{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      padding-bottom:10px;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#9c9c9c;
      font-size:14px;
      font-weight:bold;
      letter-spacing:2px;
    }
    .c177779{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177769{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177927{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:1px;
      line-height:1px;
      height:1px;
    }
    .c177917{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177907{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178050{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178039{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      border-collapse:collapse;
      padding-bottom:0;
      text-align:left;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      color:#9c9c9c;
    }
    .c178029{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178019{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178238{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
      color:#383838;
      text-decoration:none;
      font-family:Arial, Helvetica, sans-serif;
      font-size:14px;
      letter-spacing:1px;
      font-weight:bold;
    }
    .c178227{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      padding-bottom:0;
      text-align:left;
      vertical-align:middle;
      height:30px;
    }
    .c178217{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178207{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178417{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
      font-size:10px;
      letter-spacing:1px;
      text-align:center;
      font-family:Arial, sans-serif;
      font-weight:bold;
      color:#383838;
      text-decoration:none;
    }
    .c178406{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      border-radius:15px;
      color:#383838;
      height:30px;
      background-color:#e6c870;
      padding:0px 15px;
    }
    .c178396{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178386{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178375{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c178355{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c178345{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178335{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178197{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    .c178325{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    .c178177{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding-top:10px;
      border-collapse:collapse;
    }
    .c178167{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c178157{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177320{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177458{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177596{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177758{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177896{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c178008{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c178146{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177300{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c177290{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177280{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177269{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c177259{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177248{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c177238{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177228{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c177220{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      width:310px;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    @media only screen and (max-width: 768px){
      .container{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .buttoncontainer{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column600{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column400{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column300{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column200{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column150{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .image-responsive{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
        height:auto !important;
      }
      .video-responsive{
        height:auto !important;
      }
      .center{
        text-align:center !important;
      }
      .hideformobile{
        display:none !important;
      }
      .autoheight{
        height:auto !important;
      }
    }
    @media only screen and (min-width: 660px){
      .container{
        max-width:620px;
      }
      .column600{
        max-width:600px !important;
      }
      .column400{
        max-width:400px !important;
      }
      .column300{
        max-width:300px !important;
      }
      .column200{
        max-width:200px !important;
      }
      .column150{
        max-width:150px !important;
      }
    }
    @media only screen and (min-width: 640px){
      .container{
        max-width:620px;
      }
      .onecolumn1{
        max-width:600px !important;
      }
      .onecolumn2{
        max-width:300px !important;
      }
      .onecolumn3{
        max-width:200px !important;
      }
      .onecolumn4{
        max-width:150px !important;
      }
    }
    @media only screen and (max-width: 640px){
      .container{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn1{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn2{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn3{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn4{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .image-responsive{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .center{
        text-align:center !important;
      }
      .hideformobile{
        display:none !important;
      }
    }
    @media (max-width: 620px){
      table[block-type="layout-block"]{
        width:100% !important;
      }
      .book-now .spacing{
        padding-top:20px !important;
      }
      .buttoncontainer{
        width:auto !important;
        min-width:auto !important;
      }
      .menu-nav .logo{
        width:100% !important;
      }
      .menu-nav .logo img{
        margin-top:0px !important;
        margin-right:auto !important;
        margin-bottom:0px !important;
        margin-left:auto !important;
      }
      .menu-nav .logo td{
        padding-bottom:10px !important;
      }
      .menu-nav .menu{
        width:100% !important;
      }
      .menu-nav .menu table{
        float:none !important;
      }
      .menu-nav .phone{
        width:100% !important;
      }
      .menu-nav .phone table{
        margin-top:0px !important;
        margin-right:auto !important;
        margin-bottom:0px !important;
        margin-left:auto !important;
        width:auto !important;
        float:none !important;
      }
      .menu-nav .phone .spacing{
        padding-top:10px !important;
      }
      .col2-img-txt .half{
        width:100% !important;
        height:auto !important;
      }
      .col2-img-txt .image td{
        padding-bottom:20px !important;
      }
      .col2-img-txt .article table{
        width:95% !important;
      }
      .col2-img-txt .article .buttoncontainer{
        width:150px !important;
      }
      .col2-txt-btn .half{
        width:100% !important;
      }
      .col2-txt-btn .buttoncontainer{
        width:auto !important;
      }
    }
  </style>
</head>
<body style="box-sizing: border-box; background-color: #ffffff; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; -webkit-font-smoothing: antialiased; text-size-adjust: 100%;">
  <table block-type="layout-block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" blocklabel="Custom - Book Now Row" class="block book-now-row c133510 c173761 c156524889927600-9134968654992572" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 620px; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
    <tbody class="c173769 c156524889927610-6174570004262074" style="text-size-adjust: 100%; box-sizing: border-box;">
      <tr class="c173777 c156524889927620-8984395944487436" style="text-size-adjust: 100%; box-sizing: border-box;">
        <td align="center" class="c133536 c173785 c156524889927630-5831501397058625" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
          <div data-navis-type="editable-html-block" class="c173794 c156524889927640-8807644332710989" style="text-size-adjust: 100%; box-sizing: border-box;">
            <table block-type="layout-block" align="left" width="310" border="0" cellspacing="0" cellpadding="0" blocklabel="Custom - Book Now" class="block c154509 c167079 c156524876722400-11470805903727266 c177220 c156524892154600-2777402984323212" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; width: 310px; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
              <tbody class="c167087 c156524876722410-27264249054517387 c177228 c156524892154610-34240659512317895" style="text-size-adjust: 100%; box-sizing: border-box;">
                <tr class="c167095 c156524876722420-12378636335460236 c177238 c156524892154620-7204845737718166" style="text-size-adjust: 100%; box-sizing: border-box;">
                  <td align="center" class="c154534 c167103 c156524876722430-9614755717793535 c177248 c156524892154630-10305058477327189" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
                    <div data-navis-type="editable-html-block" class="c167111 c156524876722440-979307302798837 c177259 c156524892154640-8871289794526205" style="text-size-adjust: 100%; box-sizing: border-box;">
                      <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0" class="book-now c154550 c167119 c156524876722450-6448406770448425 c177269 c156524892154650-21198735351179065" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                        <tbody class="c167127 c156524876722460-2329122293879795 c177280 c156524892154660-6679152844630725" style="text-size-adjust: 100%; box-sizing: border-box;">
                          <tr class="c167135 c156524876722470-14389165974398366 c177290 c156524892154670-617456079768822" style="text-size-adjust: 100%; box-sizing: border-box;">
                            <td align="center" valign="top" class="spacing c154575 c167143 c156524876722480-4272870356591547 c177300 c156524892154680-5201069944455823" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
                              <!--======== HEADLINE BLOCK ===========-->
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="headline c154593 c167160 c1565248767224100-8445601677176158 c177320 c1565248921546100-12314898142818942" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167168 c1565248767224110-5419291007380174 c177331 c1565248921546110-5538384388476449" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167176 c1565248767224120-46253325273295953 c177341 c1565248921546120-5000839318584211" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td align="left" valign="top" class="c154618 c167184 c1565248767224130-15540919970193623 c177351 c1565248921546130-34871415259938" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                                      <div class="c167192 c1565248767224140-13851397616599392 c177362 c1565248921546140-8021730278188532" style="text-size-adjust: 100%; box-sizing: border-box;">LOREM IPSUM
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== HEADLINE BLOCK ===========-->
                              <!--======== ARTICLE HEADLINE BLOCK ===========-->
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="headline article c154666 c167261 c1565248767224170-7281463339306653 c177458 c1565248921546170-24142677896383002" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167269 c1565248767224180-8224829741943309 c177469 c1565248921546180-9696068641718567" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167277 c1565248767224190-09021395442235591 c177479 c1565248921546190-12958573031011134" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td align="left" valign="top" class="c154691 c167285 c1565248767224200-8011057416503791 c177489 c1565248921546200-4884593058948765" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color: #525252; text-align: left; padding-top: 5px; padding-bottom: 10px;">
                                      <div class="c167293 c1565248767224210-44738264779653414 c177500 c1565248921546210-11133316189686604" style="text-size-adjust: 100%; box-sizing: border-box;">$000 Lorem Ipsum
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== ARTICLE HEADLINE BLOCK ===========-->
                              <!--======== IMAGE BLOCK ===========-->
                              <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="image c154739 c167362 c1565248767224240-5958306787238061 c177596 c1565248921546240-11095910457127722" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167370 c1565248767224250-05047656339630846 c177607 c1565248921546250-42288472983151904" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167378 c1565248767224260-6072986196158316 c177617 c1565248921546260-7263813958595988" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td class="c154764 c167386 c1565248767224270-22577878010460917 c177627 c1565248921546270-158200739784099" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
                                      <a href="#link" target="_blank" class="c167394 c1565248767224280-05349298521952961 c177638 c1565248921546280-6834330854449522" style="text-size-adjust: 100%; box-sizing: border-box; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial;"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" class="c154776 c167398 c1565248767224290-3662540212969596 c177644 c1565248921546290-09563536892781466" style="text-size-adjust: 100%; box-sizing: border-box; border: 0px; display: block; float: none; width: 100%; height: auto;"></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== IMAGE BLOCK ===========-->
                              <!--======== HEADLINE BLOCK ===========-->
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="headline c154824 c167477 c1565248767224320-2154214081167003 c177758 c1565248921546320-5956739362048717" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167485 c1565248767224330-09396894927855803 c177769 c1565248921546330-14815599159294646" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167493 c1565248767224340-20123661900228407 c177779 c1565248921546340-45553872410876317" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td align="left" valign="top" class="c154848 c167501 c1565248767224350-5342083737697572 c177789 c1565248921546350-007472791058194872" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                                      <div class="c167509 c1565248767224360-02541693941062917 c177800 c1565248921546360-17254070628411866" style="text-size-adjust: 100%; box-sizing: border-box;">LOREM IPSUM
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== HEADLINE BLOCK ===========-->
                              <!--======== RULE BLOCK ===========-->
                              <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="rule c154896 c167578 c1565248767224390-5423701366164191 c177896 c1565248921546390-027378015806678757" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167586 c1565248767224400-3688447610336303 c177907 c1565248921546400-027331919581566666" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167594 c1565248767224410-40709325508841143 c177917 c1565248921546410-5590606401158205" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td bgcolor="#e1e0de" height="1" class="c154921 c167602 c1565248767224420-04902830479632314 c177927 c1565248921546420-9666379087510726" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 1px; line-height: 1px; height: 1px;"> 
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== RULE BLOCK ===========-->
                              <!--======== TEXT BLOCK ===========-->
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="text c154960 c167661 c1565248767224450-5539217117248905 c178008 c1565248921546450-9657951010207151" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167669 c1565248767224460-38712715929075925 c178019 c1565248921546460-8676374646167471" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167677 c1565248767224470-8303425583402542 c178029 c1565248921546470-12151768348298408" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td align="left" valign="top" class="c154985 c167685 c1565248767224480-04348012649699484 c178039 c1565248921546480-7724188588252598" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 10px; border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #9c9c9c;">
                                      <div class="c167693 c1565248767224490-5522386221841376 c178050 c1565248921546490-7895230132720963" style="text-size-adjust: 100%; box-sizing: border-box;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== TEXT BLOCK ===========-->
                              <!--======== TEXT WITH BUTTON BLOCK ===========-->
                              <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="col2-txt-btn c155033 c167762 c1565248767224520-39934914615910744 c178146 c1565248921546520-1548926575876428" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                <tbody class="c167770 c1565248767224530-6789694673974229 c178157 c1565248921546530-3862474795908106" style="text-size-adjust: 100%; box-sizing: border-box;">
                                  <tr class="c167778 c1565248767224540-5342426612897584 c178167 c1565248921546540-18262057542969923" style="text-size-adjust: 100%; box-sizing: border-box;">
                                    <td align="center" valign="middle" class="c155058 c167786 c1565248767224550-007376688051771163 c178177 c1565248921546550-23619084820895808" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 10px; border-collapse: collapse;">
                                      <!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<![endif]-->
                                      <table cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" class="half phonenum c167803 c1565248767224570-9818299113639086 c178197 c1565248921546570-7849012410010905" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                                        <tbody class="c167811 c1565248767224580-7983986075371814 c178207 c1565248921546580-519651344586046" style="text-size-adjust: 100%; box-sizing: border-box;">
                                          <tr class="c167819 c1565248767224590-37675980817882215 c178217 c1565248921546590-6671719435316164" style="text-size-adjust: 100%; box-sizing: border-box;">
                                            <td align="left" valign="middle" height="30" class="c155101 c167827 c1565248767224600-3602240011813984 c178227 c1565248921546600-5240108565951511" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                                              <a target="_blank" href="tel:8774693420" class="c155109 c167835 c1565248767224610-858964551069112 c178238 c1565248921546610-9162736863339322" style="text-size-adjust: 100%; box-sizing: border-box; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; color: #383838; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <!--[if (gte mso 9)|(IE)]>
</td>
<td>
<![endif]-->
                                      <table cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" class="half c167893 c1565248767224630-9555698457736088 c178325 c1565248921546630-4777465727676795" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto;">
                                        <tbody class="c167901 c1565248767224640-8405639932464346 c178335 c1565248921546640-40225794376391866" style="text-size-adjust: 100%; box-sizing: border-box;">
                                          <tr class="c167909 c1565248767224650-4638630548445324 c178345 c1565248921546650-1660831226974664" style="text-size-adjust: 100%; box-sizing: border-box;">
                                            <td align="right" valign="middle" class="c155169 c167917 c1565248767224660-11611744582665051 c178355 c1565248921546660-2928071052506469" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
                                              <!--======== BUTTON ===========-->
                                              <table height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" class="buttoncontainer c155186 c167934 c1565248767224680-6495630998729953 c178375 c1565248921546680-8764643077229108" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                                                <tbody class="c167942 c1565248767224690-338799296092958 c178386 c1565248921546690-7224357663204461" style="text-size-adjust: 100%; box-sizing: border-box;">
                                                  <tr class="c167950 c1565248767224700-1768294413168494 c178396 c1565248921546700-23523621474697132" style="text-size-adjust: 100%; box-sizing: border-box;">
                                                    <td height="30" align="center" bgcolor="#e6c870" class="c155210 c167958 c1565248767224710-47721469487759327 c178406 c1565248921546710-7739531113337872" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;">
                                                      <a target="_blank" href="#link" class="c155218 c167966 c1565248767224720-43195774870932535 c178417 c1565248921546720-07437430744896734" style="text-size-adjust: 100%; box-sizing: border-box; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial; font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <!--======== BUTTON ===========-->
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <!--======== TEXT WITH BUTTON BLOCK ===========-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
