<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <style>body{
    background-color:#ffffff;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
    -webkit-font-smoothing:antialiased;
    text-size-adjust:100%;
    }
    .ReadMsgBody{
      width:100%;
      background-color:#ffffff;
    }
    a{
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
    }
    *{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    table, td{
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
    }
    [owa] .onecolumn1{
      max-width:600px !important;
    }
    [owa] .onecolumn2{
      max-width:300px !important;
    }
    [owa] .onecolumn3{
      max-width:200px !important;
    }
    [owa] .onecolumn4{
      max-width:150px !important;
    }
    [owa] .column600{
      max-width:600px !important;
    }
    [owa] .column400{
      max-width:400px !important;
    }
    [owa] .column300{
      max-width:300px !important;
    }
    [owa] .column200{
      max-width:200px !important;
    }
    [owa] .column150{
      max-width:150px !important;
    }
    .button{
      display:inline-block !important;
      line-height:60px !important;
    }
    .button60{
      display:inline-block !important;
      line-height:60px !important;
    }
    .button40{
      display:inline-block !important;
      line-height:40px !important;
    }
    .button30{
      display:inline-block !important;
      line-height:30px !important;
    }
    .c74095{
      display:none;
    }
    .c74069{
      padding:20px 0px 50px 0px;
      background-color:#FFFFFF;
    }
    .c74061{
      border-color:#808080;
    }
    .c74053{
      border-color:#808080;
    }
    .c74045{
      border-color:#808080;
    }
    .c75803{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:12px;
      font-weight:300;
      vertical-align:top;
      color:#6F777D;
      margin:0;
      padding:0;
      border-color:#6f777d;
      width:100%;
    }
    .c75795{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c75787{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c75779{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      height:150px;
      border-color:#808080;
      border-radius:0 0 0 0;
      border:none solid #808080;
      margin:0 auto 0 auto;
      padding:0 0 0 0;
      width:620px;
    }
    .c76269{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76258{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      padding:10px 20px 10px 20px;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#9c9c9c;
      font-size:9px;
      text-align:left;
    }
    .c76248{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76238{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76225{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c76205{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76193{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:12px;
      font-weight:300;
      vertical-align:top;
      color:#6F777D;
      margin:0;
      padding:0;
      border-color:#6f777d;
      width:100%;
    }
    .c76181{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c76169{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c76161{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      height:150px;
      border-color:#808080;
      padding:0 0 0 0;
      width:620px;
      border-radius:0 0 0 0;
      border:none solid #808080;
      margin:0 0 0 0;
    }
    .c76907{
      text-size-adjust:100%;
      box-sizing:border-box;
      border:0px;
      display:block;
      float:none;
      width:100%;
      height:auto;
    }
    .c76903{
      text-size-adjust:100%;
      box-sizing:border-box;
      text-decoration-line:none;
      text-decoration-style:initial;
      text-decoration-color:initial;
    }
    .c76894{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
    }
    .c76886{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76878{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76868{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c76850{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c76840{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:12px;
      font-weight:300;
      vertical-align:top;
      color:#6F777D;
      margin:0;
      padding:0;
      border-color:#6f777d;
      width:100%;
    }
    .c76830{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c76820{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c76812{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      height:150px;
      border-color:#808080;
      border-radius:0 0 0 0;
      border:none solid #808080;
      margin:0 auto 0 auto;
      padding:0 0 0 0;
      width:620px;
    }
    .c77464{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77455{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      font-family:Arial, sans-serif;
      color:#36404f;
      font-size:12px;
      font-weight:bold;
      letter-spacing:2px;
    }
    .c77447{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77439{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77429{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c77411{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77401{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:12px;
      font-weight:300;
      vertical-align:top;
      color:#6F777D;
      margin:0;
      padding:0;
      border-color:#6f777d;
      width:100%;
    }
    .c77391{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c77381{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c77373{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      height:150px;
      border-color:#808080;
      border-radius:0 0 0 0;
      border:none solid #808080;
      margin:0 auto 0 auto;
      padding:0 0 0 0;
      width:620px;
    }
    .c77999{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77990{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      text-align:left;
      font-family:Times, Times New Roman, Georgia, serif;
      font-size:18px;
      color:#666666;
    }
    .c77982{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77974{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77964{
      text-size-adjust:100%;
      box-sizing:border-box;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      border-collapse:collapse;
      mso-table-lspace:0;
      mso-table-rspace:0;
      border-spacing:0px;
    }
    .c77946{
      text-size-adjust:100%;
      box-sizing:border-box;
    }
    .c77936{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      font-size:12px;
      font-weight:300;
      vertical-align:top;
      color:#6F777D;
      margin:0;
      padding:0;
      border-color:#6f777d;
      width:100%;
    }
    .c77926{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c77916{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-color:#808080;
    }
    .c77908{
      text-size-adjust:100%;
      box-sizing:border-box;
      border-collapse:collapse;
      margin-top:0px;
      margin-right:auto;
      margin-bottom:0px;
      margin-left:auto;
      height:150px;
      border-color:#808080;
      border-radius:0 0 0 0;
      border:none solid #808080;
      margin:0 auto 0 auto;
      padding:0 0 0 0;
      width:620px;
    }
    @media only screen and (max-width: 768px){
      .container{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .buttoncontainer{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column600{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column400{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column300{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column200{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .column150{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .image-responsive{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
        height:auto !important;
      }
      .video-responsive{
        height:auto !important;
      }
      .center{
        text-align:center !important;
      }
      .hideformobile{
        display:none !important;
      }
      .autoheight{
        height:auto !important;
      }
    }
    @media only screen and (min-width: 660px){
      .container{
        max-width:620px;
      }
      .column600{
        max-width:600px !important;
      }
      .column400{
        max-width:400px !important;
      }
      .column300{
        max-width:300px !important;
      }
      .column200{
        max-width:200px !important;
      }
      .column150{
        max-width:150px !important;
      }
    }
    @media only screen and (min-width: 640px){
      .container{
        max-width:620px;
      }
      .onecolumn1{
        max-width:600px !important;
      }
      .onecolumn2{
        max-width:300px !important;
      }
      .onecolumn3{
        max-width:200px !important;
      }
      .onecolumn4{
        max-width:150px !important;
      }
    }
    @media only screen and (max-width: 640px){
      .container{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn1{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn2{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn3{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .onecolumn4{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .image-responsive{
        width:100% !important;
        min-width:100% !important;
        max-width:100% !important;
      }
      .center{
        text-align:center !important;
      }
      .hideformobile{
        display:none !important;
      }
    }
    @media (min-width: 621px){
      table[block-type="layout-block"]{
        height:auto !important;
      }
    }
    @media (max-width: 620px){
      table[block-type="layout-block"]{
        width:100% !important;
          height:auto !important;
      }
      .menu-nav .logo{
        width:100% !important;
      }
      .menu-nav .logo img{
        margin-top:0px !important;
        margin-right:auto !important;
        margin-bottom:0px !important;
        margin-left:auto !important;
      }
      .menu-nav .logo td{
        padding-bottom:10px !important;
      }
      .menu-nav .menu{
        width:100% !important;
      }
      .menu-nav .menu table{
        float:none !important;
      }
      .menu-nav .phone{
        width:100% !important;
      }
      .menu-nav .phone table{
        margin-top:0px !important;
        margin-right:auto !important;
        margin-bottom:0px !important;
        margin-left:auto !important;
        width:auto !important;
        float:none !important;
      }
      .menu-nav .phone .spacing{
        padding-top:10px !important;
      }
      .menu-nav .phone-desktop{
        display:none !important;
      }
      .menu-nav .phone-mobile{
        display:block !important;
      }
    }
  </style>
</head>
<body style="box-sizing: border-box; background-color: #ffffff; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; -webkit-font-smoothing: antialiased; text-size-adjust: 100%;">
  <table block-type="layout-block" blocklabel="Custom Layout 1" width="620" height="150" class="c99124 c156402964388500-42024841257559364 c75779 c156455810691100-8050219106101739" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; height: 150px; border-color: #808080; border-radius: 0 0 0 0; border: none solid #808080; margin: 0 auto 0 auto; padding: 0 0 0 0; width: 620px;">
    <tbody class="c99132 c156402964388510-24556998238245864 c75787 c156455810691110-09628926496161672" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
      <tr class="c99140 c156402964388520-8442314329284772 c75795 c156455810691120-11708567072261267" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
        <td width="100%" valign="top" class="c99148 c156402964388530-6121419046376537 c75803 c156455810691130-10353387886069343" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 12px; font-weight: 300; vertical-align: top; color: #6F777D; margin: 0; padding: 0; border-color: #6f777d; width: 100%;">
          <table block-type="layout-block" blocklabel="Custom Block - Preheader" width="620" height="150" class="c99124 c156402964388500-42024841257559364 c1782 c156403031110100-968012648230741 c7297 c156455392228300-4211597894100756 c76161 c156455811588700-7779598810637383" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; height: 150px; border-color: #808080; padding: 0 0 0 0; width: 620px; border-radius: 0 0 0 0; border: none solid #808080; margin: 0 0 0 0;">
            <tbody class="c99132 c156402964388510-24556998238245864 c1790 c156403031110110-4433042259422493 c7305 c156455392228310-7423506332983971 c76169 c156455811588710-8563649762603143" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
              <tr class="c99140 c156402964388520-8442314329284772 c1800 c156403031110120-7103321791725581 c7315 c156455392228320-9124510569047186 c76181 c156455811588720-06028736545008506" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
                <td width="100%" valign="top" class="c99148 c156402964388530-6121419046376537 c1810 c156403031110130-1024656140352489 c7325 c156455392228330-23098080453463665 c76193 c156455811588730-1939693568052825" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 12px; font-weight: 300; vertical-align: top; color: #6F777D; margin: 0; padding: 0; border-color: #6f777d; width: 100%;">
                  <div data-navis-type="editable-html-block" class="c156403033235500-8058250520553452 c7335 c156455392228340-8091945785870662 c76205 c156455811588740-7906377262809443" style="text-size-adjust: 100%; box-sizing: border-box;">
                    <!--======== PREHEADER BLOCK ===========-->
                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="block preheader c2059 c7353 c156455392228360-20490622780854229 c76225 c156455811588760-2416156560256444" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
                      <tbody class="c7363 c156455392228370-7774516407945762 c76238 c156455811588770-49324401574275667" style="text-size-adjust: 100%; box-sizing: border-box;">
                        <tr class="c7371 c156455392228380-8053567695170321 c76248 c156455811588780-4797657995049234" style="text-size-adjust: 100%; box-sizing: border-box;">
                          <td align="left" valign="top" class="c2085 c7379 c156455392228390-4518145893358976 c76258 c156455811588790-7785684781930708" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding: 10px 20px 10px 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 9px; text-align: left;">
                            <div class="c7388 c1564553922283100-8820240927412393 c76269 c1564558115887100-5273454461747593" style="text-size-adjust: 100%; box-sizing: border-box;">Lorem ipsum dolor sit amet
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--======== PREHEADER BLOCK ===========-->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table block-type="layout-block" blocklabel="Custom Block - Image" width="620" height="150" class="c99124 c156402964388500-42024841257559364 c12156 c156411407555600-08932984390359922 c76812 c156455814027500-5153197920243513" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; height: 150px; border-color: #808080; border-radius: 0 0 0 0; border: none solid #808080; margin: 0 auto 0 auto; padding: 0 0 0 0; width: 620px;">
    <tbody class="c99132 c156402964388510-24556998238245864 c12164 c156411407555610-20294211715695099 c76820 c156455814027510-273836418108401" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
      <tr class="c99140 c156402964388520-8442314329284772 c12172 c156411407555620-9436797894281639 c76830 c156455814027520-46085544677616674" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
        <td width="100%" valign="top" class="c99148 c156402964388530-6121419046376537 c12180 c156411407555630-841449628135956 c76840 c156455814027530-2156410239783939" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 12px; font-weight: 300; vertical-align: top; color: #6F777D; margin: 0; padding: 0; border-color: #6f777d; width: 100%;">
          <div data-navis-type="editable-html-block" class="c156411408077700-9140909668664092 c76850 c156455814027540-11846081754911153" style="text-size-adjust: 100%; box-sizing: border-box;">
            <!--======== IMAGE BLOCK ===========-->
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="block image c12489 c76868 c156455814027560-9226195966834874" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
              <tbody class="c76878 c156455814027570-4189660940936091" style="text-size-adjust: 100%; box-sizing: border-box;">
                <tr class="c76886 c156455814027580-49196612578940857" style="text-size-adjust: 100%; box-sizing: border-box;">
                  <td class="c12513 c76894 c156455814027590-5841982975801947" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse;">
                    <a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank" class="c76903 c1564558140275100-185298416328318" style="text-size-adjust: 100%; box-sizing: border-box; text-decoration-line: none; text-decoration-style: initial; text-decoration-color: initial;"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/620x351_20190726040648.png" alt class="c12525 c76907 c1564558140275110-40789709358453985" style="text-size-adjust: 100%; box-sizing: border-box; border: 0px; display: block; float: none; width: 100%; height: auto;"></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--======== IMAGE BLOCK ===========-->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table block-type="layout-block" blocklabel="Custom Block - Headline" width="620" height="150" class="c99124 c156402964388500-42024841257559364 c27630 c156411483832800-9295665818439687 c77373 c156455814462400-5931889820787659" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; height: 150px; border-color: #808080; border-radius: 0 0 0 0; border: none solid #808080; margin: 0 auto 0 auto; padding: 0 0 0 0; width: 620px;">
    <tbody class="c99132 c156402964388510-24556998238245864 c27638 c156411483832810-2562543997191493 c77381 c156455814462410-8067890999445972" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
      <tr class="c99140 c156402964388520-8442314329284772 c27648 c156411483832820-1674929291502214 c77391 c156455814462420-8233938867258306" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
        <td width="100%" valign="top" class="c99148 c156402964388530-6121419046376537 c27658 c156411483832830-5847915405427255 c77401 c156455814462430-1334168009486767" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 12px; font-weight: 300; vertical-align: top; color: #6F777D; margin: 0; padding: 0; border-color: #6f777d; width: 100%;">
          <div data-navis-type="editable-html-block" class="c156411484423600-8095700400226871 c77411 c156455814462440-9857009708520439" style="text-size-adjust: 100%; box-sizing: border-box;">
            <!--======== HEADLINE BLOCK ===========-->
            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="block headline c27927 c77429 c156455814462460-23870632670417558" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
              <tbody class="c77439 c156455814462470-6650160081581158" style="text-size-adjust: 100%; box-sizing: border-box;">
                <tr class="c77447 c156455814462480-6011979648864172" style="text-size-adjust: 100%; box-sizing: border-box;">
                  <td align="center" valign="top" class="c27953 c77455 c156455814462490-07144452706467508" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                    <div class="c77464 c1564558144624100-9880784113499699" style="text-size-adjust: 100%; box-sizing: border-box;">LOREM IPSUM
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--======== HEADLINE BLOCK ===========-->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table block-type="layout-block" blocklabel="Custom Block - Text" width="620" height="150" class="c99124 c156402964388500-42024841257559364 c20233 c156411441547000-565772846876337 c77908 c156455815193900-7162652705877726" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; height: 150px; border-color: #808080; border-radius: 0 0 0 0; border: none solid #808080; margin: 0 auto 0 auto; padding: 0 0 0 0; width: 620px;">
    <tbody class="c99132 c156402964388510-24556998238245864 c20241 c156411441547010-5658021696523097 c77916 c156455815193910-49424920368284875" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
      <tr class="c99140 c156402964388520-8442314329284772 c20249 c156411441547020-25405088114972907 c77926 c156455815193920-02439055586755412" style="text-size-adjust: 100%; box-sizing: border-box; border-color: #808080;">
        <td width="100%" valign="top" class="c99148 c156402964388530-6121419046376537 c20257 c156411441547030-6115248563539795 c77936 c156455815193930-5317773747298951" style="text-size-adjust: 100%; box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; font-size: 12px; font-weight: 300; vertical-align: top; color: #6F777D; margin: 0; padding: 0; border-color: #6f777d; width: 100%;">
          <div data-navis-type="editable-html-block" class="c156411442008300-23465619357158274 c77946 c156455815193940-746574782306618" style="text-size-adjust: 100%; box-sizing: border-box;">
            <!--======== TEXT BLOCK ===========-->
            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" class="block text c20516 c77964 c156455815193960-21324763680897796" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; border-spacing: 0px;">
              <tbody class="c77974 c156455815193970-6264675606406904" style="text-size-adjust: 100%; box-sizing: border-box;">
                <tr class="c77982 c156455815193980-7571555781832" style="text-size-adjust: 100%; box-sizing: border-box;">
                  <td align="left" valign="top" class="c20541 c77990 c156455815193990-6256107993484101" style="text-size-adjust: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color: #666666;">
                    <div class="c77999 c1564558151939100-3077565651436176" style="text-size-adjust: 100%; box-sizing: border-box;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--======== TEXT BLOCK ===========-->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
