<style>
@media (max-width: 768px){
  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}

@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }

  .col1-img-txt {
    width: 100% !important;
  }

  .col1-img-txt .text {
    width: 95% !important;
  }

  .col1-img-txt .button {
    width: 95% !important;
  }

  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}
</style>

<!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - 1 Column Image with Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="col1-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="top" style="border-collapse: collapse;">

            <!--======== IMAGE BLOCK ===========-->
            <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td style="border-collapse: collapse;">

                  <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/image_20190619204552.png" alt="Lounge area by the pool" style="border: 0px; display: block; float: none; width: 100%; height: auto;" width="620"/></a>

                </td>
              </tr>
            </table>
            <!--======== IMAGE BLOCK ===========-->

            <!--======== HEADLINE BLOCK ===========-->
            <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="center" valign="top" style="padding-top: 15px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                  <div>LOREM IPSUM</div>
                </td>
              </tr>
            </table>
            <!--======== HEADLINE BLOCK ===========-->

            <!--======== TEXT BLOCK ===========-->
            <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="left" valign="top" style="padding-top: 15px; border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                </td>
              </tr>
            </table>
            <!--======== TEXT BLOCK ===========-->

            <!--======== BUTTON ===========-->
            <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tbody>
                <tr>
                  <td style="padding-top: 15px; border-collapse: collapse;" align="center">

                    <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tbody>
                        <tr>
                          <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                            <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">VOTE NOW</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
            <!--======== BUTTON ===========-->

          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
