<style>
@media (max-width: 768px){
  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}

@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }

  .col2-txt-btn .half {
    width: 100% !important;
  }

  .col2-txt-btn .buttoncontainer {
    width: auto !important;
  }
}
</style>

<!--======== TEXT WITH BUTTON BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="300" border="0" cellspacing="0" cellpadding="0" style="width: 300px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="middle" style="border-collapse: collapse;">

            <!--[if (gte mso 9)|(IE)]>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td>
            <![endif]-->
            <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
              <tbody>
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; padding-bottom: 0; text-align: left; ">
                    <a target="_blank" href="tel:8774693420" style="color:#666666; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td>
            <![endif]-->
            <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
              <tbody>
                <tr>
                  <td align="right" valign="middle" style="border-collapse: collapse;">

                    <!--======== BUTTON ===========-->
                    <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tbody>
                        <tr>
                          <td style="border-collapse: collapse;" align="center">

                            <table class="buttoncontainer" height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                    <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--======== BUTTON ===========-->

                  </td>
                </tr>
              </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tbody>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== TEXT WITH BUTTON BLOCK ===========-->
