<style>
  @media (max-width: 768px){
    .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }
  }

  @media (max-width: 620px) {
    table[block-type="layout-block"]{
      width: 100% !important;
    }

    .col2-img-txt {
      width: 100% !important;
    }

    .col2-img-txt .half {
      width: 100% !important;
      height: auto !important;
    }

    .col2-img-txt .half.image td {
      padding-top: 20px !important;
    }

    .col2-img-txt .half.article {
      float: none !important;
      width: 95% !important;
    }

    .col2-img-txt .half.article .sidebar-article-wrap {
      width: 100% !important;
    }

    .col2-img-txt .half.article .sidebar-article-wrap .headline td {
      padding-top: 20px !important;
    }

    .col2-img-txt .half.article .text td {
      font-size: 14px !important;
      line-height: 18px !important;
    }

    .col2-img-txt .article .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }
  }
</style>

<!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - 2 Column Image and Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="col2-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="top" style="border-collapse: collapse;">

            <!--[if (gte mso 9)|(IE)]>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td>
            <![endif]-->
            <table class="half image" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
              <tbody>
                <tr>
                  <td style="border-collapse: collapse;" alkign="center">
                    <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.22.26-PM_20190617212301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td>
            <![endif]-->
            <table class="half article" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
              <tbody>
                <tr>
                  <td align="right" valign="middle">

                    <table class="sidebar-article-wrap" width="90%" cellspacing="0" cellpadding="0" border="0" align="right">
                      <tbody>
                        <tr>
                          <td>
                            <!--======== ARTICLE HEADLINE BLOCK ===========-->
                            <table class="headline article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tr>
                                <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 20px; color:#666666; text-align:left; padding-bottom: 10px;">
                                  <div>Lorem Ipsum</div>
                                </td>
                              </tr>
                            </table>
                            <!--======== ARTICLE HEADLINE BLOCK ===========-->


                            <!--======== ARTICLE TEXT BLOCK ===========-->
                            <table class="text article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tr>
                                <td align="left" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 12px; line-height: 18px; color:#666666; text-align:left; padding-bottom: 20px;">
                                  <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                </td>
                              </tr>
                            </table>
                            <!--======== ARTICLE TEXT BLOCK ===========-->

                            <!--======== BUTTON ===========-->
                            <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td style="border-collapse: collapse;" align="center">

                                    <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tbody>
                                        <tr>
                                          <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                            <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">LEARN MORE</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--======== BUTTON ===========-->

                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tbody>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->
