<style>
@media (max-width: 620px){
  .main-content[block-type="layout-block"] {
    width: 100% !important;
  }
}
</style>

<table block-type="layout-block" class="main-content" align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; width: 620px;" width="620"><tr><td style="border-collapse: collapse;">

</td></tr></table>
