<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width:100% !important;
  }
}
</style>

<table block-type="layout-block" class="wrapper" cellpadding="0" cellspacing="0" border="0" width="100%" style="margin: 0 auto; padding: 0; width: 100%;"><tr><td align="center" style="border-collapse: collapse;">

</td></tr></table>
