<style>
@media (max-width: 768px){
  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }

  .book-now-row .spacing {
    padding-top: 0 !important;
  }

  .book-now {
    width: 95% !important;
  }

  .book-now .col2-txt-btn .half {
    width: 100% !important;
  }

  .book-now .spacing {
    padding-top: 20px !important;
  }

  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}
</style>

<!--======== BOOK NOW ROW ===========-->
<table block-type="layout-block" blocklabel="Custom - Book Now Row" class="block book-now-row" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" class="spacing" style="border-collapse: collapse; padding-top: 10px;"><div data-navis-type="editable-html-block">

      <!--======== BOOK NOW BLOCK ===========-->
      <table block-type="layout-block" blocklabel="Custom - Book Now" class="block" align="left" width="310" border="0" cellspacing="0" cellpadding="0" style="width: 310px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" style="border-collapse: collapse; padding-top: 10px;"><div data-navis-type="editable-html-block">

            <table class="book-now" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;" class="spacing" style="padding-top: 30px;">

                  <!--======== HEADLINE BLOCK ===========-->
                  <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                        <div>LOREM IPSUM</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== HEADLINE BLOCK ===========-->

                  <!--======== ARTICLE HEADLINE BLOCK ===========-->
                  <table class="headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-top: 5px; padding-bottom: 10px;">
                        <div>$000 Lorem Ipsum</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== ARTICLE HEADLINE BLOCK ===========-->

                  <!--======== IMAGE BLOCK ===========-->
                  <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td style="border-collapse: collapse;">

                        <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" width="279" /></a>

                      </td>
                    </tr>
                  </table>
                  <!--======== IMAGE BLOCK ===========-->

                  <!--======== HEADLINE BLOCK ===========-->
                  <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                        <div>LOREM IPSUM</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== HEADLINE BLOCK ===========-->

                  <!--======== RULE BLOCK ===========-->
                  <table class="rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                    </tr>
                  </table>
                  <!--======== RULE BLOCK ===========-->

                  <!--======== TEXT BLOCK ===========-->
                  <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="padding-top: 10px; border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== TEXT BLOCK ===========-->

                  <!--======== TEXT WITH BUTTON BLOCK ===========-->
                  <table class="col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="middle" style="padding-top: 10px; border-collapse: collapse;">

                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                        <td>
                        <![endif]-->
                        <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                          <tbody>
                            <tr>
                              <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                                <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <td>
                        <![endif]-->
                        <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                          <tbody>
                            <tr>
                              <td align="right" valign="middle" style="border-collapse: collapse;">

                                <!--======== BUTTON ===========-->
                                <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse: collapse;" align="center">

                                        <table class="buttoncontainer" height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                          <tbody>
                                            <tr>
                                              <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--======== BUTTON ===========-->

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <![endif]-->

                      </td>
                    </tr>
                  </table>
                  <!--======== TEXT WITH BUTTON BLOCK ===========-->

                </td>
              </tr>
            </table>

          </div></td>
        </tr>
      </table>
      <!--======== BOOK NOW BLOCK ===========-->

      <!--======== BOOK NOW BLOCK ===========-->
      <table block-type="layout-block" blocklabel="Custom - Book Now" class="block" align="left" width="310" border="0" cellspacing="0" cellpadding="0" style="width: 310px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" style="border-collapse: collapse; padding-top: 10px;"><div data-navis-type="editable-html-block">

            <table class="book-now" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;" class="spacing" style="padding-top: 30px;">

                  <!--======== HEADLINE BLOCK ===========-->
                  <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                        <div>LOREM IPSUM</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== HEADLINE BLOCK ===========-->

                  <!--======== ARTICLE HEADLINE BLOCK ===========-->
                  <table class="headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-top: 5px; padding-bottom: 10px;">
                        <div>$000 Lorem Ipsum</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== ARTICLE HEADLINE BLOCK ===========-->

                  <!--======== IMAGE BLOCK ===========-->
                  <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td style="border-collapse: collapse;">

                        <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" width="279" /></a>

                      </td>
                    </tr>
                  </table>
                  <!--======== IMAGE BLOCK ===========-->

                  <!--======== HEADLINE BLOCK ===========-->
                  <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                        <div>LOREM IPSUM</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== HEADLINE BLOCK ===========-->

                  <!--======== RULE BLOCK ===========-->
                  <table class="rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                    </tr>
                  </table>
                  <!--======== RULE BLOCK ===========-->

                  <!--======== TEXT BLOCK ===========-->
                  <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="padding-top: 10px; border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== TEXT BLOCK ===========-->

                  <!--======== TEXT WITH BUTTON BLOCK ===========-->
                  <table class="col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="middle" style="padding-top: 10px; border-collapse: collapse;">

                        <!--[if (gte mso 9)|(IE)]>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                        <td>
                        <![endif]-->
                        <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                          <tbody>
                            <tr>
                              <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                                <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        <td>
                        <![endif]-->
                        <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                          <tbody>
                            <tr>
                              <td align="right" valign="middle" style="border-collapse: collapse;">

                                <!--======== BUTTON ===========-->
                                <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tbody>
                                    <tr>
                                      <td style="border-collapse: collapse;" align="center">

                                        <table class="buttoncontainer" height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                          <tbody>
                                            <tr>
                                              <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--======== BUTTON ===========-->

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <![endif]-->

                      </td>
                    </tr>
                  </table>
                  <!--======== TEXT WITH BUTTON BLOCK ===========-->

                </td>
              </tr>
            </table>

          </div></td>
        </tr>
      </table>
      <!--======== BOOK NOW BLOCK ===========-->

    </div></td>
  </tr>
</table>
<!--======== BOOK NOW ROW ===========-->
