<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== FOOTER BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="footer" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td style="border-collapse: collapse;">

            <!--======== TEXT BLOCK ===========-->
            <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
                  This email was sent to: %%CRMemail%%<br/>
                  This email was sent by: %%Member_Busname%%<br/>
                  %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
                  &copy; 2019 Auberge Resort Collection<br/>
                  <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
                  <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
                  <a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a> |
                  <a style="color: #e6c870;" href="%%view_email_url%%" target="_blank">View Online</a>
                </td>
              </tr>
            </table>
            <!--======== TEXT BLOCK ===========-->

          	<!--======== RULE BLOCK ===========-->
            <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
              </tr>
            </table>
          	<!--======== RULE BLOCK ===========-->

          	<!--======== LOGO ONLY BLOCK ===========-->
          	<table class="logo-only" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          	  <tr>
          	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 30px;">
          	      <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="http://assets.navisperformance.com/Assets/14824/TD/Images/auberge-resorts-collection_20181210213643.png" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" border="0" /></a>
          	    </td>
          	  </tr>
          	</table>
          	<!--======== LOGO ONLY BLOCK ===========-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!--======== FOOTER BLOCK ===========-->
