<style>
@media (max-width: 768px){
  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}
  @media (max-width: 620px) {
    table[block-type="layout-block"]{
      width: 100% !important;
    }

    .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }

    .our-stories {
      width: 100% !important;
    }

    .our-stories .headline.article {
      float: none !important;
      margin: 0 auto !important;
    }

    .our-stories .headline.article table{
      width: 90% !important;
    }

    .our-stories .headline.article span {
      border-left: 0 solid transparent !important;
    }

    .our-stories .headline.article span br {
      display: block !important;
    }

    .our-stories .col1-img-txt .text {
      float: none !important;
      margin: 0 auto !important;
    }
  }
</style>

<!--======== OUR STORIES BLOCK ===========-->

<table block-type="layout-block" blocklabel="Custom - Our Stories" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="our-stories" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="top" bgcolor="#ebeae8" style="border-collapse: collapse;">

            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="center" valign="top" bgcolor="#ebeae8" width="620" height="70" style="border-collapse: collapse;" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg">
                  <!--[if gte mso 9]>
                  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:620px;height:70px;">
                    <v:fill type="tile" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" color="#ebeae8" />
                    <v:textbox inset="0,0,0,0">
                  <![endif]-->

                  <!--======== IMAGE BLOCK ===========-->
                  <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td style="border-collapse: collapse;" align="center">

                        <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" alt="Our Stories" style="border: 0px; display: block; float: none; width: 262px; height: 60px;" width="262" height="60" border="0" /></a>

                      </td>
                    </tr>
                  </table>
                  <!--======== IMAGE BLOCK ===========-->

                  <!--[if gte mso 9]>
                    </v:textbox>
                  </v:rect>
                  <![endif]-->

                </td>
              </tr>

              <tr>
                <td>

                  <!--======== HEADLINE BLOCK ===========-->
                  <table class="headline" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                        <div>LOREM IPSUM</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== HEADLINE BLOCK ===========-->

                  <!--======== ARTICLE HEADLINE BLOCK ===========-->
                  <table class="headline article" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="middle" style="width: auto; padding-bottom: 20px; padding-right: 10px; border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 34px; line-height: 42px; color:#36404f; text-align:center;">
                        <div>Lorem Ipsum</div>
                      </td>
                    </tr>
                  </table>
                  <!--======== ARTICLE HEADLINE BLOCK ===========-->



                  <table class="col1-img-txt" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="center" valign="middle" style="border-collapse: collapse;">

                        <!--======== IMAGE BLOCK ===========-->
                        <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                          <tr>
                            <td style="border-collapse: collapse;">
                              <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.25.41-PM_20190617212612.png" alt="Bottles of Wine" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                            </td>
                          </tr>
                        </table>
                        <!--======== IMAGE BLOCK ===========-->

                        <!--======== TEXT BLOCK ===========-->
                        <table class="text" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                          <tr>
                            <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </td>
                          </tr>
                        </table>
                        <!--======== TEXT BLOCK ===========-->

                        <!--======== TEXT BLOCK ===========-->
                        <table class="text author" width="100%" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                          <tr>
                            <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; padding-right: 10px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#36404f; font-weight: bold;">
                              <div>Lorem ipsum</div>
                            </td>
                          </tr>
                        </table>
                        <!--======== TEXT BLOCK ===========-->

                      </td>
                    </tr>
                    <tr>
                      <td style="padding-bottom: 20px;">

                        <!--======== BUTTON ===========-->
                        <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                          <tbody>
                            <tr>
                              <td style="padding-top: 15px; border-collapse: collapse;" align="center">

                                <table class="buttoncontainer" height="30" cellspacing="0" cellpadding="0" border="0" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tbody>
                                    <tr>
                                      <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                        <a target="_blank" href="#link" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">READ MORE STORIES</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>

                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--======== BUTTON ===========-->

                      </td>
                    </tr>
                  </table>
                  <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

                  <!--======== IMAGE BLOCK ===========-->
                  <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td style="border-collapse: collapse;">
                        <img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" alt="Bottom graphic" style="border: 0px; display: block; float: none; width: 100%; height: auto;" />
                      </td>
                    </tr>
                  </table>
                  <!--======== IMAGE BLOCK ===========-->

                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

</div></td>
</tr>
</table>
<!--======== OUR STORIES BLOCK ===========-->
