<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="x-apple-disable-message-reformatting">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<style type="text/css">

	/*
	COLORS
	Find and replace the values below to change the color:

	Page Background - #333333
	Container Backgrounds - #ffffff
	Footer Background - #cccccc
	Horizontal Lines - #999999
	Headlines - #888888
	Body Copy - #777777
	Images - #666666
	Buttons - #ff6600
	*/

/* GLOBAL AND EMAIL CLIENT SPECIFIC STYLES */
body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }
@viewport {width: device-width !important;}
a[x-apple-data-detectors] {color: inherit !important;text-decoration: none !important;font-size: inherit !important;font-family: inherit !important;font-weight: inherit !important;line-height: inherit !important;}
img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
.mcnPreviewText { display: none !important; }
.ExternalClass { width: 100%; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height:100%;}
.yshortcuts a { border-bottom: none !important; }
a { text-decoration:none }
</style>


<!--======== WRAPPER ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td bgcolor="#ffffff" width="100%" valign="top" style="padding:0px 0px 0px 0px;">

<!--[if (gte mso 9)|(IE)]>
<table width="620" align="center" cellpadding="0" cellspacing="0" border="0" style="width:465pt">
<tbody>
<tr>
<td>
<![endif]-->

<!--======== ALL THE CONTENT  ===========-->
<table class="layout-block" width="100%" border="0" cellpadding="0" cellspacing="0" align="center" block-type="layout-block" style="max-width:620px; width:100%; border-collapse:collapse; mso-table-lspace:0; mso-table-rspace:0;"><tr><td style="border-collapse: collapse;">

  <!--======== PREHEADER BLOCK ===========-->
  <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td align="left" valign="top" style="padding: 10px 20px 10px 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 9px; color:#9c9c9c; text-align: left;">

        This summer enjoy Napa Valley at Auberge du Soleil

      </td>
    </tr>
  </table>
  <!--======== PREHEADER BLOCK ===========-->

</td>
</tr>

<!--======== THREE COLUMN IMAGE + TEXT ===========-->
<tr>
<td align="center" style="border-collapse: collapse;">

	<!--======== LOGO AND NAV BLOCK ===========-->
	<table class="block menu-nav" width="100%" border="0" bgcolor="#f3f1ef" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; background-color: #f3f1ef;">
	  <tr>
	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px;">

	      <table class="nav" align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        <tr>
	          <td align="left" valign="top" style="border-collapse: collapse;">

	            <!--[if (gte mso 9)|(IE)]>
	            <table width="100%" border="0" cellpadding="0" cellspacing="0">
	            <tbody>
	            <tr>
	            <td>
	            <![endif]-->
	            <table class="logo" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 180px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td align="left" valign="top" style="border-collapse: collapse;">
	                  <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14823/TD/Images/ADS_SC_logo_20190315142543.png" width="170" border="0" alt="Auberge du Soleil"/></a>
	                </td>
	              </tr>
	            </table>
	            <!--[if (gte mso 9)|(IE)]>
	            </td>
	            <td>
	            <![endif]-->
	            <table class="menu" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 300px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td align="center" valign="top" style="border-collapse: collapse;">

	                  <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                    <tr>
	                      <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px 5px 0;">
	                        <a href="https://aubergeresorts.com/aubergedusoleil/stay/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">STAY</a>
	                      </td>
	                      <td align="left" valign="top" style="border-left: 1px solid #dddcd8; border-right: 1px solid #dddcd8; border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px;">
	                        <a href="https://aubergeresorts.com/aubergedusoleil/dine/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">DINE</a>
	                      </td>
	                      <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 0 5px 15px;">
	                        <a href="https://aubergeresorts.com/aubergedusoleil/wellness/spa/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">WELLNESS</a>
	                      </td>
	                    </tr>
	                  </table>

	                </td>
	              </tr>
	            </table>
	            <!--[if (gte mso 9)|(IE)]>
	            </td>
	            <td>
	            <![endif]-->
	            <table class="phone" align="left" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td class="spacing" align="right" style="border-collapse: collapse">

	                  <table align="right" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                    <tr>
	                      <td align="left" valign="middle" width="13" style="width: 13px; height: 25px; font-size: 25px; line-height: 25px; padding-right: 10px; vertical-align: middle;">
	                        <img src="https://assets.navisperformance.com/Assets/14877/TD/Images/esp-new-lifecycle-icon-phone-2_20181130202643.jpg" width="13" height="18" border="0" alt="telephone number: " style="display: inline-block; font-size: 18px; line-height: 18px;"/>
	                      </td>
	                      <td align="left" style="color: #666666; font-family: Arial, sans-serif; font-size: 11px; line-height: 15px; text-align: left; letter-spacing: 1px;">
	                        <a href="tel:8003485406" target="_blank" class="link" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 25px; text-align: left; letter-spacing: 1px; color:#666666; text-decoration: none;"><strong>800.348.5406</strong></span></a>
	                      </td>
	                    </tr>
	                  </table>

	                </td>
	              </tr>
	            </table>
	            <!--[if (gte mso 9)|(IE)]>
	            </td>
	            </tr>
	            </tbody>
	            </table>
	            <![endif]-->

	          </td>
	        </tr>
	      </table>

	    </td>
	  </tr>
	</table>
	<!--======== LOGO AND NAV BLOCK ===========-->

</td>
</tr>
<!--======== THREE COLUMN IMAGE + TEXT ===========-->
<tr>
<td>

  <!--======== IMAGE BLOCK ===========-->
  <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td style="border-collapse: collapse;">
        <a href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/ADS_June2018_00920_20190409210608_20190516223536.jpg" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
      </td>
    </tr>
  </table>
  <!--======== IMAGE BLOCK ===========-->

</td>
</tr>


<!--======== ONE COLUMN TEXT ===========-->
<tr>
<td>

	<!--======== HEADLINE BLOCK ===========-->
	<table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="center" valign="top" style="padding-top: 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
	      LOREM IPSUM
	    </td>
	  </tr>
	</table>
	<!--======== HEADLINE BLOCK ===========-->

</td>
</tr>

<tr>
<td>

	<!--======== TEXT BLOCK ===========-->
	<table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="left" valign="top" style="border-collapse: collapse; padding-top: 20px; padding-bottom: 0; padding-left: 20px; padding-right: 20px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	    </td>
	  </tr>
	</table>
	<!--======== TEXT BLOCK ===========-->

</td>
</tr>
<tr>
	<td>

	<!--======== BUTTON ===========-->
	<table class="block buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tbody>
	    <tr>
	      <td style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">

	        <table height="30" border="0" cellpadding="0" cellspacing="0" align="center">
	          <tbody>
	            <tr>
	              <td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">
	                <a class="button30" target="_blank" href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="color:#383838; text-decoration:none;">BOOK NOW</a>
	              </td>
	            </tr>
	          </tbody>
	        </table>

	      </td>
	    </tr>
	  </tbody>
	</table>
	<!--======== BUTTON ===========-->


</td>
</tr>

<tr>
<td>
	<!--======== RULE BLOCK ===========-->
	<table class="block rule" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
	  </tr>
	</table>
	<!--======== RULE BLOCK ===========-->
</td>
</tr>



<tr>
<td>

	<!--======== HEADLINE BLOCK ===========-->
	<table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="center" valign="top" style="padding-top: 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
	      LOREM IPSUM
	    </td>
	  </tr>
	</table>
	<!--======== HEADLINE BLOCK ===========-->

</td>
</tr>

<!--======== ONE ROW IMAGE + TEXT ===========-->
<tr>
<td style="padding-top: 15px; padding-bottom: 15px;">

	<!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->
	<table class="block col2-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="center" valign="middle" style="border-collapse: collapse;">

	      <!--[if (gte mso 9)|(IE)]>
	      <table width="100%" border="0" cellpadding="0" cellspacing="0">
	      <tbody>
	      <tr>
	      <td>
	      <![endif]-->
	      <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
	        <tbody>
	          <tr>
	            <td align="center">

								<!--======== IMAGE BLOCK ===========-->
	              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                <tr>
	                  <td style="border-collapse: collapse;">

	                    <a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.22.26-PM_20190617212301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

	                  </td>
	                </tr>
	              </table>
	              <!--======== IMAGE BLOCK ===========-->
	            </td>
	          </tr>
	        </tbody>
	      </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      <td>
	      <![endif]-->
	      <table class="half article" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
	        <tbody>
	          <tr>
	            <td align="right" valign="middle">

	              <table width="90%" cellspacing="0" cellpadding="0" border="0" align="right" >
	                <tbody>
	                  <tr>
	                    <td>
	                      <!--======== ARTICLE HEADLINE BLOCK ===========-->
	                      <table class="block headline article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                        <tr>
	                          <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 20px; color:#666666; text-align:left; padding-bottom: 10px;">
	                            Lorem Ipsum
	                          </td>
	                        </tr>
	                      </table>
	                      <!--======== ARTICLE HEADLINE BLOCK ===========-->
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>
	                      <!--======== ARTICLE TEXT BLOCK ===========-->
	                      <table class="block text article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                        <tr>
	                          <td align="left" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 12px; line-height: 18px; color:#666666; text-align:left; padding-bottom: 20px;">
	                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
	                          </td>
	                        </tr>
	                      </table>
	                      <!--======== ARTICLE TEXT BLOCK ===========-->
	                    </td>
	                  </tr>
	                  <tr>
	                    <td>
	                      <!--======== BUTTON ===========-->
	                      <table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                        <tbody>
	                          <tr>
	                            <td>

	                              <table height="30" border="0" cellpadding="0" cellspacing="0" align="left">
	                                <tbody>
	                                  <tr>
	                                    <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
	                                      <a class="button30" target="_blank" href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">LEARN MORE</a>
	                                    </td>
	                                  </tr>
	                                </tbody>
	                              </table>

	                            </td>
	                          </tr>
	                        </tbody>
	                      </table>
	                      <!--======== BUTTON ===========-->

	                    </td>
	                  </tr>
	                </tbody>
	              </table>

	            </td>
	          </tr>
	        </tbody>
	      </table>
	      <!--[if (gte mso 9)|(IE)]>
	      </td>
	      </tr>
	      </tbody>
	      </table>
	      <![endif]-->

	    </td>
	  </tr>
	</table>
	<!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->


</td>
</tr>

<tr>
<td style="padding-bottom: 20px;">

	<!--======== RULE BLOCK ===========-->
	<table class="block rule" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
	  </tr>
	</table>
	<!--======== RULE BLOCK ===========-->

</td>
</tr>


<tr>
<td style="padding-bottom: 20px;">

	<!--======== HEADLINE BLOCK ===========-->
	<table class="block headline" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
	      LOREM IPSUM
	    </td>
	  </tr>
	</table>
	<!--======== HEADLINE BLOCK ===========-->


</td>
</tr>

<tr>
<td>

	<!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
	<table class="block col1-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="center" valign="middle" style="border-collapse: collapse;">

	      <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
	        <tbody>
	          <tr>
	            <td align="center">

	              <table class="block image" width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                <tbody>
	                  <tr>
	                    <td align="center">
	                      <a href="https://www.cntraveler.com/rca/vote?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/image_20190619204552.png" alt="Lounge area by the pool" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
	                    </td>
	                  </tr>
	                </tbody>
	              </table>

	            </td>
	          </tr>
	          <tr>
	            <td>
	              <!--======== TEXT BLOCK ===========-->
	              <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                <tr>
	                  <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
	                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	                  </td>
	                </tr>
	              </table>
	              <!--======== TEXT BLOCK ===========-->
	            </td>
	          </tr>
	          <tr>
	            <td>
	              <!--======== BUTTON ===========-->
	              <table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                <tbody>
	                  <tr>
	                    <td>

	                      <table height="30" border="0" cellpadding="0" cellspacing="0" align="left">
	                        <tbody>
	                          <tr>
	                            <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
	                              <a class="button30" target="_blank" href="https://www.cntraveler.com/rca/vote?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">VOTE NOW</a>
	                            </td>
	                          </tr>
	                        </tbody>
	                      </table>

	                    </td>
	                  </tr>
	                </tbody>
	              </table>
	              <!--======== BUTTON ===========-->

	            </td>
	          </tr>
	        </tbody>
	      </table>

	    </td>
	  </tr>
	</table>
	<!--======== BIG IMAGE WITH TEXT BLOCK ===========-->


</td>
</tr>

<!--======== ONE COLUMN IMAGE + TEXT ===========-->
<tr>
<td>

	<!--======== OUR STORIES BLOCK ===========-->
	<table class="block our-stories" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td align="center" valign="top" bgcolor="#ebeae8" style="border-collapse: collapse;">

	      <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        <tr>
	          <td align="center" valign="top" bgcolor="#ebeae8" width="620" height="70" style="border-collapse: collapse;" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg">
	            <!--[if gte mso 9]>
	            <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:620px;height:70px;">
	              <v:fill type="tile" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" color="#ebeae8" />
	              <v:textbox inset="0,0,0,0">
	            <![endif]-->

	            <!--======== IMAGE BLOCK ===========-->
	            <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td style="border-collapse: collapse;" align="center">

	                  <a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" alt="Our Stories" style="border: 0px; display: block; float: none; width: 262px; height: 60px;" width="262" height="60" border="0" /></a>

	                </td>
	              </tr>
	            </table>
	            <!--======== IMAGE BLOCK ===========-->

	            <!--[if gte mso 9]>
	              </v:textbox>
	            </v:rect>
	            <![endif]-->

	          </td>
	        </tr>

	        <tr>
	          <td style="padding-top: 10px; padding-bottom: 10px;">

	            <!--======== HEADLINE BLOCK ===========-->
	            <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td align="center" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
	                  LOREM IPSUM
	                </td>
	              </tr>
	            </table>
	            <!--======== HEADLINE BLOCK ===========-->

	          </td>
	        </tr>
	        <tr>
	          <td style="padding-bottom: 20px;">

	            <!--======== ARTICLE HEADLINE BLOCK ===========-->
	            <table class="block headline article" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td>

	                  <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                    <tr>
	                      <td align="center" valign="middle" style="width: auto; padding-bottom: 0; padding-right: 10px; border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 34px; line-height: 42px; color:#36404f; text-align:center;">
                          50 Shades of&nbsp;Ros&eacute;
	                      </td>
	                    </tr>
	                  </table>

	                </td>
	              </tr>
	            </table>
	            <!--======== ARTICLE HEADLINE BLOCK ===========-->

	          </td>
	        </tr>

	        <tr>
	          <td>

	            <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
	            <table class="block col1-img-txt" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td align="center" valign="middle" style="border-collapse: collapse;">

	                  <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
	                    <tbody>
	                      <tr>
	                        <td align="center">

	                          <!--======== IMAGE BLOCK ===========-->
	                          <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                            <tr>
	                              <td style="border-collapse: collapse;">

	                                <a href="https://www.cntraveler.com/rca/vote?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.25.41-PM_20190617212612.png" alt="Bottles of Wine" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

	                              </td>
	                            </tr>
	                          </table>
	                          <!--======== IMAGE BLOCK ===========-->


	                        </td>
	                      </tr>
	                      <tr>
	                        <td>
	                          <!--======== TEXT BLOCK ===========-->
	                          <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                            <tr>
	                              <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
	                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	                              </td>
	                            </tr>
	                          </table>
	                          <!--======== TEXT BLOCK ===========-->
	                        </td>
	                      </tr>
	                      <tr>
	                        <td>

	                          <!--======== TEXT BLOCK ===========-->
	                          <table class="block text author" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                            <tr>
	                              <td align="left" valign="top" style="border-collapse: collapse; padding-right: 10px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#36404f; font-weight: bold;">
	                                Lorem ipsum
	                              </td>
	                            </tr>
	                          </table>
	                          <!--======== TEXT BLOCK ===========-->

	                        </td>
	                      </tr>
	                      <tr>
	                        <td style="padding-top: 20px; padding-bottom: 20px;">

	                          <!--======== BUTTON ===========-->
	                          <table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	                            <tbody>
	                              <tr>
	                                <td>

	                                  <table height="30" border="0" cellpadding="0" cellspacing="0" align="center">
	                                    <tbody>
	                                      <tr>
	                                        <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
	                                          <a class="button30" target="_blank" href="https://aubergeresorts.com/aubergedusoleil/stories/shades-of-rose/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">READ MORE STORIES</a>
	                                        </td>
	                                      </tr>
	                                    </tbody>
	                                  </table>

	                                </td>
	                              </tr>
	                            </tbody>
	                          </table>
	                          <!--======== BUTTON ===========-->

	                        </td>
	                      </tr>
	                    </tbody>
	                  </table>

	                </td>
	              </tr>
	            </table>
	            <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

	          </td>
	        </tr>
	        <tr>
	          <td>

	            <!--======== IMAGE BLOCK ===========-->
	            <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	              <tr>
	                <td style="border-collapse: collapse;">

	                  <img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" alt="Bottom graphic" style="border: 0px; display: block; float: none; width: 100%; height: auto;" />

	                </td>
	              </tr>
	            </table>
	            <!--======== IMAGE BLOCK ===========-->

	          </td>
	        </tr>
	      </table>

	    </td>
	  </tr>
	</table>
	<!--======== OUR STORIES BLOCK ===========-->

</td>
</tr>

<tr>
<td style="padding-top: 10px; padding-bottom: 10px;">

	<!--======== SOCIAL ICONS BLOCK ===========-->
	<table class="block social-icons" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td style="border-collapse: collapse;">

	      <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        <tr>
	          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
	            <a href="https://www.facebook.com/AubergeDuSoleil.Napa/?fref=ts" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/3bc57562-1fe1-4623-9511-d7bb786e6042_ARC_ico_facebook_20181105184015.jpg" width="52" height="54" alt="Facebook" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
	          </td>
	          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
	            <a href="https://twitter.com/AubergeSoleil" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/fc96ff35-6590-4f86-8838-e3145d2d853c_ARC_ico_twitter_20181105184019.jpg" width="52" height="54" alt="Twitter" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
	          </td>
	          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
	            <a href="https://www.pinterest.com/auberge/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/64cce64d-16c5-4a99-9720-69631840f3e4_ARC_ico_pinterest_20181105184018.jpg" width="52" height="54" alt="Pinterest" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
	          </td>
	          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
	            <a href="https://www.instagram.com/aubergedusoleil/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/b378663e-8860-4632-8f92-07d5412dd3ac_ARC_ico_instagram_20181105184017.jpg" width="52" height="54" alt="Instagram" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
	          </td>
	        </tr>
	      </table>

	    </td>
	  </tr>
	</table>
	<!--======== SOCIAL ICONS BLOCK ===========-->


</td>
</tr>


<!--======== FOOTER ===========-->
<tr>
<td style="padding-top: 20px; padding-bottom: 20px;">

	<!--======== FOOTER BLOCK ===========-->
	<table class="block footer" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	  <tr>
	    <td style="border-collapse: collapse;">

	      <!--======== TEXT BLOCK ===========-->
	      <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        <tr>
	          <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
	            All offers are subject to availability. Blackout dates and restrictions may apply.
	            Offers are subject to the terms and conditions found on the hotel website.Book now through the numbers or links above, or call your travel professional.
	          </td>
	        </tr>
	        <tr>
	          <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
	            This email was sent to: %%CRMemail%%<br/>
	            This email was sent by: %%Member_Busname%%<br/>
	            %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
	            &copy; 2019 Auberge Resort Collection<br/>
	            <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
	            <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
	            <a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a> |
              <a style="color: #e6c870;" href="%%view_email_url%%" target="_blank">View Online</a>
	          </td>
	        </tr>
	        <tr>
	        <td>

	        	<!--======== RULE BLOCK ===========-->
	        	<table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        	  <tr>
	        	    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
	        	  </tr>
	        	</table>
	        	<!--======== RULE BLOCK ===========-->


	        </td>
	        </tr>
	        <tr>
	        <td>

	        	<!--======== LOGO ONLY BLOCK ===========-->
	        	<table class="block logo-only" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
	        	  <tr>
	        	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 30px;">
	        	      <a href="https://www.aubergeresorts.com/?utm_medium=email&utm_source=reach&utm_campaign=050819-cr-email-sunshinevine&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14824/TD/Images/ARC_HorSmall_rgb_20181114163828_20181206203011.jpg" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" /></a>
	        	    </td>
	        	  </tr>
	        	</table>
	        	<!--======== LOGO ONLY BLOCK ===========-->

	        </td>
	        </tr>
	      </table>
	      <!--======== TEXT BLOCK ===========-->

	    </td>
	  </tr>
	</table>
	<!--======== FOOTER BLOCK ===========-->

<!-- Content -->

</td>
</tr>
</tbody>
</table>
<!--======== ALL THE CONTENT  ===========-->

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!--======== WRAPPER ===========-->
