
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<style type="text/css">

	/*
	COLORS
	Find and replace the values below to change the color:

	Page Background - #333333
	Container Backgrounds - #ffffff
	Footer Background - #cccccc
	Horizontal Lines - #999999
	Headlines - #888888
	Body Copy - #777777
	Images - #666666
	Buttons - #ff6600
	*/

	body {background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
	.ReadMsgBody {width: 100%; background-color: #ffffff;}

	/* Removes underline for hyperlinked text in Windows 10 Mail */
	a {text-decoration:none;}

	/* Stops email clients resizing small text. */
    * { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

	/* Stops Outlook from adding extra spacing to tables. */
    table, td {border-collapse: collapse; margin: 0px auto;}

	/* Outlook Webmail App specific code that forces columns to be the correct width. */
	[owa] .column600 {max-width: 600px!important;}
	[owa] .column400 {max-width: 400px!important;}
	[owa] .column300 {max-width: 300px!important;}
	[owa] .column200 {max-width: 200px!important;}
	[owa] .column180 {max-width: 180px!important;}
	[owa] .column150 {max-width: 150px!important;}
	[owa] .column120 {max-width: 120px!important;}

	/* Fixes Outlook Webmail App line height and display button issues */
	.button60 { display:inline-block!important; line-height:60px!important;}
	.button40 { display:inline-block!important; line-height:40px!important;}
	.button30 { display:inline-block!important; line-height:30px!important;}


	@media only screen and (min-width: 660px)  {

		.container {max-width: 620px;}

		/* Force a max-width on columns in desktop view*/
		.column600 {max-width: 600px!important;}
		.column400 {max-width: 400px!important;}
		.column300 {max-width: 300px!important;}
		.column200 {max-width: 200px!important;}
		.column180 {max-width: 180px!important;}
		.column150 {max-width: 150px!important;}
		.column120 {max-width: 120px!important;}

			}

	@media only screen and (max-width: 660px)  {

		.container {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.buttoncontainer {width:100%!important; min-width:100%!important; max-width:100%!important;}

		.column600 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column400 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column300 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column200 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column180 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column150 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column120 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}

		td.imagecontainer img {width:100%!important; min-width:100%!important; max-width:100%!important; height: auto!important;}

		/* Basic Styles */
		.center {text-align: center!important;}
		.hideformobile {display: none!important;}
		.autoheight {height: auto!important}
  }

</style>


<!--======== WRAPPER ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td bgcolor="#ffffff" width="100%" valign="top" style="padding:0px 0px 0px 0px;">

<!--[if (gte mso 9)|(IE)]>
<table width="620" align="center" cellpadding="0" cellspacing="0" border="0" style="width:465pt">
<tbody>
<tr>
<td>
<![endif]-->

<!--======== ALL THE CONTENT  ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" block-type="layout-block" >
<tbody>
<tr>
<td>

<!-- Container -->
<table class="container" style="max-width:620px; width:100%; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="620" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>
<tr>
<td class="container" width="620" style="padding: 0px; font-size: 0px; text-align: center;">

<!-- Content -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>

<tr>
<td>

<!--======== PREHEADER BLOCK ===========-->
<table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="left" valign="top" style="padding: 10px 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 9px; color:#9c9c9c; text-align: left;">

      Receive up to $300 in resort credit.

    </td>
  </tr>
</table>
<!--======== PREHEADER BLOCK ===========-->


</td>
</tr>

<tr>
<td>

  <!--======== LOGO ONLY BLOCK ===========-->
  <table class="block logo-only" width="100%" border="0" bgcolor="#f3f1ef" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; background-color: #f3f1ef;">
    <tr>
      <td align="left" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 20px;">
        <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="http://assets.navisperformance.com/Assets/14824/TD/Images/auberge-resorts-collection_20181210213643.png" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" border="0" /></a>
      </td>
    </tr>
  </table>
  <!--======== LOGO ONLY BLOCK ===========-->


</td>
</tr>

<tr>
<td class="imagecontainer" style="padding: 0px 0px 0px 0px; text-align: center;">

<!--======== IMAGE BLOCK ===========-->
<table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td style="border-collapse: collapse;">

      <a href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/ADS_June2018_00920_20190409210608_20190516223536.jpg" alt="A couple enjoying wine in Napa" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

    </td>
  </tr>
</table>
<!--======== IMAGE BLOCK ===========-->

</td>
</tr>

<tr>
<td style="padding-top: 20px;">

  <!--======== HEADLINE BLOCK ===========-->
  <table class="block headline" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
        LOREM IPSUM
      </td>
    </tr>
  </table>
  <!--======== HEADLINE BLOCK ===========-->

</td>
</tr>

<tr>
<td style="padding-top: 20px; padding-bottom: 20px;">

  <!--======== TEXT BLOCK ===========-->
  <table class="block text" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td align="left" valign="top" style="border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </td>
    </tr>
  </table>
  <!--======== TEXT BLOCK ===========-->


</td>
</tr>

<tr>
<td>

  <!--======== RULE BLOCK ===========-->
  <table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
    </tr>
  </table>
  <!--======== RULE BLOCK ===========-->

</td>
</tr>



<tr>
<td style="padding-top: 20px;">

  <!--======== BOOK NOW BLOCK ===========-->
  <table class="block book-now" width="300" align="left" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; width: 300px;">
    <tr>
      <td style="border-collapse: collapse;">

        <table align="center" border="0" cellspacing="0" cellpadding="0" width="90%" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td style="border-collapse: collapse;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 5px;">

              <!--======== ARTICLE HEADLINE BLOCK ===========-->
              <table class="block headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-bottom: 10px;">
                    $000 Lorem Ipsum
                  </td>
                </tr>
              </table>
              <!--======== ARTICLE HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== IMAGE BLOCK ===========-->
              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;">

                    <a href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8774693420" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                  </td>
                </tr>
              </table>
              <!--======== IMAGE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px; padding-bottom: 10px;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== RULE BLOCK ===========-->
              <table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>
              <!--======== RULE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT BLOCK ===========-->
              <table class="block text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </td>
                </tr>
              </table>
              <!--======== TEXT BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT WITH BUTTON BLOCK ===========-->
              <table class="block col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="middle" style="border-collapse: collapse;">

                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                    <td>
                    <![endif]-->
                    <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                            <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    <td>
                    <![endif]-->
                    <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="right" valign="middle" style="border-collapse: collapse;">

                            <!--======== BUTTON ===========-->
                            <table class="block buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="right" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td style="border-collapse: collapse;">

                                    <table height="30" border="0" cellpadding="0" cellspacing="0" align="right" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tbody>
                                        <tr>
                                          <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                            <a target="_blank" href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--======== BUTTON ===========-->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <![endif]-->

                  </td>
                </tr>
              </table>
              <!--======== TEXT WITH BUTTON BLOCK ===========-->


            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!--======== BOOK NOW BLOCK ===========-->

  <!--======== BOOK NOW BLOCK ===========-->
  <table class="block book-now" width="300" align="left" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; width: 300px;">
    <tr>
      <td style="border-collapse: collapse;">

        <table align="center" border="0" cellspacing="0" cellpadding="0" width="90%" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td style="border-collapse: collapse;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 5px;">

              <!--======== ARTICLE HEADLINE BLOCK ===========-->
              <table class="block headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-bottom: 10px;">
                    $000 Lorem Ipsum
                  </td>
                </tr>
              </table>
              <!--======== ARTICLE HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== IMAGE BLOCK ===========-->
              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;">

                    <a href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8774693420" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                  </td>
                </tr>
              </table>
              <!--======== IMAGE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px; padding-bottom: 10px;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== RULE BLOCK ===========-->
              <table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>
              <!--======== RULE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT BLOCK ===========-->
              <table class="block text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </td>
                </tr>
              </table>
              <!--======== TEXT BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT WITH BUTTON BLOCK ===========-->
              <table class="block col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="middle" style="border-collapse: collapse;">

                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                    <td>
                    <![endif]-->
                    <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                            <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    <td>
                    <![endif]-->
                    <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="right" valign="middle" style="border-collapse: collapse;">

                            <!--======== BUTTON ===========-->
                            <table class="block buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="right" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td style="border-collapse: collapse;">

                                    <table height="30" border="0" cellpadding="0" cellspacing="0" align="right" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tbody>
                                        <tr>
                                          <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                            <a target="_blank" href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--======== BUTTON ===========-->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <![endif]-->

                  </td>
                </tr>
              </table>
              <!--======== TEXT WITH BUTTON BLOCK ===========-->


            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!--======== BOOK NOW BLOCK ===========-->


</td>
</tr>

<tr>
<td style="padding-top: 40px;">

  <!--======== BOOK NOW BLOCK ===========-->
  <table class="block book-now" width="300" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; width: 300px;">
    <tr>
      <td style="border-collapse: collapse;">

        <table align="center" border="0" cellspacing="0" cellpadding="0" width="90%" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td style="border-collapse: collapse;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 5px;">

              <!--======== ARTICLE HEADLINE BLOCK ===========-->
              <table class="block headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-bottom: 10px;">
                    $000 Lorem Ipsum
                  </td>
                </tr>
              </table>
              <!--======== ARTICLE HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== IMAGE BLOCK ===========-->
              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;">

                    <a href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8774693420" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                  </td>
                </tr>
              </table>
              <!--======== IMAGE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px; padding-bottom: 10px;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== RULE BLOCK ===========-->
              <table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>
              <!--======== RULE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT BLOCK ===========-->
              <table class="block text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </td>
                </tr>
              </table>
              <!--======== TEXT BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">

              <!--======== TEXT WITH BUTTON BLOCK ===========-->
              <table class="block col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="middle" style="border-collapse: collapse;">

                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                    <td>
                    <![endif]-->
                    <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                            <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    <td>
                    <![endif]-->
                    <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                      <tbody>
                        <tr>
                          <td align="right" valign="middle" style="border-collapse: collapse;">

                            <!--======== BUTTON ===========-->
                            <table class="block buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="right" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td style="border-collapse: collapse;">

                                    <table height="30" border="0" cellpadding="0" cellspacing="0" align="right" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tbody>
                                        <tr>
                                          <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                            <a target="_blank" href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--======== BUTTON ===========-->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <![endif]-->

                  </td>
                </tr>
              </table>
              <!--======== TEXT WITH BUTTON BLOCK ===========-->


            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!--======== BOOK NOW BLOCK ===========-->

</td>
</tr>

<tr>
<td style="padding-top: 20px;">

  <!--======== RULE BLOCK ===========-->
  <table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
    </tr>
  </table>
  <!--======== RULE BLOCK ===========-->


</td>
</tr>

<tr>
  <td style="padding-top: 20px;">

    <!--======== HEADLINE BLOCK ===========-->
    <table class="block headline" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
      <tr>
        <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
          LOREM IPSUM
        </td>
      </tr>
    </table>
    <!--======== HEADLINE BLOCK ===========-->

  </td>
</tr>

<tr>
<td style="padding-top: 20px;">

  <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
  <table class="block col1-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td align="center" valign="middle" style="border-collapse: collapse;">

        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
          <tbody>
            <tr>
              <td align="center">

                <!--======== IMAGE BLOCK ===========-->
                <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                  <tr>
                    <td style="border-collapse: collapse;">

                      <a href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-3.57.17-PM_20190708225744.png" alt="Lounge area by the pool" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                    </td>
                  </tr>
                </table>
                <!--======== IMAGE BLOCK ===========-->


              </td>
            </tr>
            <tr>
              <td>
                <!--======== TEXT BLOCK ===========-->
                <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                  <tr>
                    <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </td>
                  </tr>
                </table>
                <!--======== TEXT BLOCK ===========-->
              </td>
            </tr>
            <tr>
              <td>
                <!--======== BUTTON ===========-->
                <table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                  <tbody>
                    <tr>
                      <td>

                        <table height="30" border="0" cellpadding="0" cellspacing="0" align="left">
                          <tbody>
                            <tr>
                              <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                <a class="button30" target="_blank" href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">EXPLORE</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--======== BUTTON ===========-->

              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </table>
  <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

</td>
</tr>

<tr>
<td>

  <!--======== OUR STORIES BLOCK ===========-->
  <table class="block our-stories" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td align="center" valign="top" bgcolor="#ebeae8" style="border-collapse: collapse;">

        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" valign="top" bgcolor="#ebeae8" width="620" height="70" style="border-collapse: collapse;" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg">
              <!--[if gte mso 9]>
              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:620px;height:70px;">
                <v:fill type="tile" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" color="#ebeae8" />
                <v:textbox inset="0,0,0,0">
              <![endif]-->

              <!--======== IMAGE BLOCK ===========-->
              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;" align="center">

                    <a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" alt="Our Stories" style="border: 0px; display: block; float: none; width: 262px; height: 60px;" width="262" height="60" border="0" /></a>

                  </td>
                </tr>
              </table>
              <!--======== IMAGE BLOCK ===========-->

              <!--[if gte mso 9]>
                </v:textbox>
              </v:rect>
              <![endif]-->

            </td>
          </tr>

          <tr>
            <td style="padding-top: 10px; padding-bottom: 10px;">

              <!--======== HEADLINE BLOCK ===========-->
              <table class="block headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                    LOREM IPSUM
                  </td>
                </tr>
              </table>
              <!--======== HEADLINE BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 20px;">

              <!--======== ARTICLE HEADLINE BLOCK ===========-->
              <table class="block headline article" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td>

                    <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="left" valign="middle" style="width: auto; padding-bottom: 0; padding-right: 10px; border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 34px; line-height: 42px; color:#36404f; text-align:left;">
													Above the Treetops
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>
              <!--======== ARTICLE HEADLINE BLOCK ===========-->

            </td>
          </tr>

          <tr>
            <td>

              <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
              <table class="block col1-img-txt" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="middle" style="border-collapse: collapse;">

                    <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
                      <tbody>
                        <tr>
                          <td align="center">

                            <!--======== IMAGE BLOCK ===========-->
                            <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tr>
                                <td style="border-collapse: collapse;">

                                  <a href="https://aubergeresorts.com/calistogaranch/stories/above-the-treetops/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-3.58.27-PM_20190708230100.png" alt="Bottles of Wine" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                                </td>
                              </tr>
                            </table>
                            <!--======== IMAGE BLOCK ===========-->


                          </td>
                        </tr>
                        <tr>
                          <td>
                            <!--======== TEXT BLOCK ===========-->
                            <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tr>
                                <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </td>
                              </tr>
                            </table>
                            <!--======== TEXT BLOCK ===========-->
                          </td>
                        </tr>
                        <tr>
                          <td>

                            <!--======== TEXT BLOCK ===========-->
                            <table class="block text author" align="left" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tr>
                                <td align="left" valign="top" style="border-collapse: collapse; padding-right: 10px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#36404f; font-weight: bold;">
                                  Lorem ipsum
                                </td>
                              </tr>
                            </table>
                            <!--======== TEXT BLOCK ===========-->

                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 20px; padding-bottom: 20px;">

                            <!--======== BUTTON ===========-->
                            <table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td>

                                    <table height="30" border="0" cellpadding="0" cellspacing="0" align="center">
                                      <tbody>
                                        <tr>
                                          <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                            <a class="button30" target="_blank" href="https://aubergeresorts.com/aubergedusoleil/stories/shades-of-rose/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">READ MORE STORIES</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--======== BUTTON ===========-->

                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </table>
              <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

            </td>
          </tr>
          <tr>
            <td>

              <!--======== IMAGE BLOCK ===========-->
              <table class="block image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;">

                    <img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" alt="Bottom graphic" style="border: 0px; display: block; float: none; width: 100%; height: auto;" />

                  </td>
                </tr>
              </table>
              <!--======== IMAGE BLOCK ===========-->

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <!--======== OUR STORIES BLOCK ===========-->

</td>
</tr>


<!--======== FOOTER ===========-->

<tr>
<td>

  <!--======== FOOTER BLOCK ===========-->
  <table class="block footer" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
    <tr>
      <td style="border-collapse: collapse;">

        <!--======== TEXT BLOCK ===========-->
        <table class="block text" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
              Terms and Conditions for all offers: Blackout dates and minimum stay requirements may apply. Other restrictions may apply. Rates are per room, per night and based on availability at the time of reservation. Taxes and resort fees are additional. Offer may not be combined with any other offer and is subject to change at any time without notice. Resort credits or packaged inclusions in offers have no cash value and cannot be used towards room rates or resort fees. Offers do not apply to groups of 10 or more rooms.
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
              This email was sent to: %%CRMemail%%<br/>
              This email was sent by: %%Member_Busname%%<br/>
              %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
              &copy; 2019 Auberge Resort Collection<br/>
              <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
              <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
              <a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a> | <a style="color: #e6c870;" href="%%view_email_url%%" target="_blank">View Online</a>
            </td>
          </tr>
          <tr>
          <td>

          	<!--======== RULE BLOCK ===========-->
          	<table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          	  <tr>
          	    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
          	  </tr>
          	</table>
          	<!--======== RULE BLOCK ===========-->


          </td>
          </tr>
          <tr>
          <td>

          	<!--======== LOGO ONLY BLOCK ===========-->
          	<table class="block logo-only" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          	  <tr>
          	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 30px;">
          	      <a href="https://www.aubergeresorts.com/?utm_medium=email&utm_source=reach&utm_campaign=050819-cr-email-sunshinevine&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14824/TD/Images/ARC_HorSmall_rgb_20181114163828_20181206203011.jpg" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" /></a>
          	    </td>
          	  </tr>
          	</table>
          	<!--======== LOGO ONLY BLOCK ===========-->

          </td>
          </tr>
        </table>
        <!--======== TEXT BLOCK ===========-->

      </td>
    </tr>
  </table>
  <!--======== FOOTER BLOCK ===========-->

</td>
</tr>
<!--======== FOOTER ===========-->

</tbody>
</table>
<!-- Content -->

</td>
</tr>
</tbody>
</table>
<!-- Container -->

</td>
</tr>
</tbody>
</table>
<!--======== ALL THE CONTENT  ===========-->

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!--======== WRAPPER ===========-->
