<style>
  @media (max-width: 768px){
    .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }
  }

  @media (max-width: 620px){
    table[block-type="layout-block"]{
      width: 100% !important;
    }

    .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }

    .block .text {
      width: 95% !important;
    }

    .menu-nav {
      width: 100% !important;
    }

    .menu-nav .logo {
      width: 100% !important;
    }

    .menu-nav .logo img {
      margin: 0 auto !important;
    }

    .menu-nav .logo td {
      padding-bottom: 10px !important;
    }

    .menu-nav .menu {
      width: 100% !important;
    }

    .menu-nav .menu table {
      float: none !important;
    }

    .menu-nav .phone {
      width: 100% !important;
    }

    .menu-nav .phone table {
      margin: 0 auto !important;
      width: auto !important;
      float: none !important;
    }

    .menu-nav .phone .spacing {
      padding-top: 10px !important;
    }

    .col1-img-txt {
      width: 100% !important;
    }

    .col1-img-txt .text {
      width: 95% !important;
    }

    .col1-img-txt .button {
      width: 95% !important;
    }

    .book-now-row .spacing {
      padding-top: 0 !important;
    }

    .book-now {
      width: 95% !important;
    }

    .book-now .col2-txt-btn .half {
      width: 100% !important;
    }

    .book-now .spacing {
      padding-top: 20px !important;
    }

    .col2-img-txt {
      width: 100% !important;
    }

    .col2-img-txt .half {
      width: 100% !important;
      height: auto !important;
    }

    .col2-img-txt .half.image td {
      padding-top: 20px !important;
    }

    .col2-img-txt .half.article {
      float: none !important;
      width: 95% !important;
    }

    .col2-img-txt .half.article .sidebar-article-wrap {
      width: 100% !important;
    }

    .col2-img-txt .half.article .sidebar-article-wrap .headline td {
      padding-top: 20px !important;
    }

    .col2-img-txt .half.article .text td {
      font-size: 14px !important;
      line-height: 18px !important;
    }

    .col2-img-txt .article .buttoncontainer {
      width: auto !important;
      min-width: auto !important;
      max-width: auto !important;
    }

    .our-stories {
      width: 100% !important;
    }

    .our-stories .headline.article {
      float: none !important;
      margin: 0 auto !important;
    }

    .our-stories .headline.article table{
      width: 90% !important;
    }

    .our-stories .headline.article span {
      border-left: 0 solid transparent !important;
    }

    .our-stories .headline.article span br {
      display: block !important;
    }

    .our-stories .col1-img-txt .text {
      float: none !important;
      margin: 0 auto !important;
    }
  }
</style>

<table block-type="layout-block" blocklabel="NEW-Layout 2019" cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" style="border-collapse: collapse; margin: 0 auto; padding: 0; width: 100%;">
  <tbody>
    <tr>
      <td align="center" style="border-collapse: collapse;">

        <!--======== PREHEADER BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Preheader" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="preheader" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="padding: 10px 20px 10px 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 9px; color:#9c9c9c; text-align: left;">
                    <div>"Lorem ipsum dolor sit amet, consectetur adipiscing</div>
                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== PREHEADER BLOCK ===========-->

        <!--======== LOGO AND NAV BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Menu Nav" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="menu-nav" width="100%" border="0" bgcolor="#f3f1ef" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; background-color: #f3f1ef;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse; padding: 10px;">

                    <table class="nav" align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="left" valign="top" style="border-collapse: collapse;">

                          <!--[if (gte mso 9)|(IE)]>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tbody>
                          <tr>
                          <td>
                          <![endif]-->
                          <table class="logo" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 180px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="border-collapse: collapse;">
                                <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14823/TD/Images/ADS_SC_logo_20190315142543.png" width="170" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; height: auto; width: 170px;" /></a>
                              </td>
                            </tr>
                          </table>
                          <!--[if (gte mso 9)|(IE)]>
                          </td>
                          <td>
                          <![endif]-->
                          <table class="menu" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 300px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="top" style="border-collapse: collapse;">

                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tr>
                                    <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px 5px 0;">
                                      <a href="https://aubergeresorts.com/aubergedusoleil/stay/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">STAY</a>
                                    </td>
                                    <td align="left" valign="top" style="border-left: 1px solid #dddcd8; border-right: 1px solid #dddcd8; border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px;">
                                      <a href="https://aubergeresorts.com/aubergedusoleil/dine/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">DINE</a>
                                    </td>
                                    <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 0 5px 15px;">
                                      <a href="https://aubergeresorts.com/aubergedusoleil/wellness/spa/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">WELLNESS</a>
                                    </td>
                                  </tr>
                                </table>

                              </td>
                            </tr>
                          </table>
                          <!--[if (gte mso 9)|(IE)]>
                          </td>
                          <td>
                          <![endif]-->
                          <table class="phone" align="left" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td class="spacing" align="right" style="border-collapse: collapse">

                                <table align="right" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tr>
                                    <td align="left" valign="middle" width="13" style="width: 13px; height: 25px; font-size: 25px; line-height: 25px; padding-right: 10px; vertical-align: middle;">
                                      <img src="https://assets.navisperformance.com/Assets/14877/TD/Images/esp-new-lifecycle-icon-phone-2_20181130202643.jpg" width="13" height="18" border="0" alt="telephone number: " style="display: inline-block; font-size: 18px; line-height: 18px;"/>
                                    </td>
                                    <td align="left" style="color: #666666; font-family: Arial, sans-serif; font-size: 11px; line-height: 15px; text-align: left; letter-spacing: 1px;">
                                      <a href="tel:8003485406" target="_blank" class="link" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 25px; text-align: left; letter-spacing: 1px; color:#666666; text-decoration: none;"><strong>800.348.5406</strong></a>
                                    </td>
                                  </tr>
                                </table>

                              </td>
                            </tr>
                          </table>
                          <!--[if (gte mso 9)|(IE)]>
                          </td>
                          </tr>
                          </tbody>
                          </table>
                          <![endif]-->

                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== LOGO AND NAV BLOCK ===========-->

        <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - 1 Column Image with Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="col1-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse;">

                    <!--======== IMAGE BLOCK ===========-->
                    <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td style="border-collapse: collapse;">

                          <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/image_20190619204552.png" alt="Lounge area by the pool" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                        </td>
                      </tr>
                    </table>
                    <!--======== IMAGE BLOCK ===========-->

                    <!--======== HEADLINE BLOCK ===========-->
                    <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="center" valign="top" style="padding-top: 15px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                          <div>LOREM IPSUM</div>
                        </td>
                      </tr>
                    </table>
                    <!--======== HEADLINE BLOCK ===========-->

                    <!--======== TEXT BLOCK ===========-->
                    <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="left" valign="top" style="padding-top: 15px; border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </td>
                      </tr>
                    </table>
                    <!--======== TEXT BLOCK ===========-->

                    <!--======== BUTTON ===========-->
                    <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tbody>
                        <tr>
                          <td style="padding-top: 15px; border-collapse: collapse;" align="center">

                            <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                    <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">VOTE NOW</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--======== BUTTON ===========-->

                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

        <!--======== RULE BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Rule" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse; padding-top: 20px;"><div data-navis-type="editable-html-block">

              <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== RULE BLOCK ===========-->

        <!--======== BOOK NOW ROW ===========-->
        <table block-type="layout-block" blocklabel="Custom - Book Now Row" class="block book-now-row" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse; padding-top: 10px;" class="spacing"><div data-navis-type="editable-html-block">

              <!--======== BOOK NOW BLOCK ===========-->
              <table block-type="layout-block" blocklabel="Custom - Book Now" class="block" align="left" width="310" border="0" cellspacing="0" cellpadding="0" style="width: 310px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" style="border-collapse: collapse; padding-top: 10px;"><div data-navis-type="editable-html-block">

                    <table class="book-now" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="center" valign="top" style="border-collapse: collapse;" class="spacing" style="padding-top: 30px;">

                          <!--======== HEADLINE BLOCK ===========-->
                          <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                                <div>LOREM IPSUM</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== HEADLINE BLOCK ===========-->

                          <!--======== ARTICLE HEADLINE BLOCK ===========-->
                          <table class="headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-top: 5px; padding-bottom: 10px;">
                                <div>$000 Lorem Ipsum</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== ARTICLE HEADLINE BLOCK ===========-->

                          <!--======== IMAGE BLOCK ===========-->
                          <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td style="border-collapse: collapse;">

                                <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                              </td>
                            </tr>
                          </table>
                          <!--======== IMAGE BLOCK ===========-->

                          <!--======== HEADLINE BLOCK ===========-->
                          <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                                <div>LOREM IPSUM</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== HEADLINE BLOCK ===========-->

                          <!--======== RULE BLOCK ===========-->
                          <table class="rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                            </tr>
                          </table>
                          <!--======== RULE BLOCK ===========-->

                          <!--======== TEXT BLOCK ===========-->
                          <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="padding-top: 10px; border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== TEXT BLOCK ===========-->

                          <!--======== TEXT WITH BUTTON BLOCK ===========-->
                          <table class="col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="middle" style="padding-top: 10px; border-collapse: collapse;">

                                <!--[if (gte mso 9)|(IE)]>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                <td>
                                <![endif]-->
                                <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                                  <tbody>
                                    <tr>
                                      <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                                        <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                <td>
                                <![endif]-->
                                <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                                  <tbody>
                                    <tr>
                                      <td align="right" valign="middle" style="border-collapse: collapse;">

                                        <!--======== BUTTON ===========-->
                                        <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                          <tbody>
                                            <tr>
                                              <td style="border-collapse: collapse;" align="center">

                                                <table class="buttoncontainer" height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                                  <tbody>
                                                    <tr>
                                                      <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                        <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <!--======== BUTTON ===========-->

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </tbody>
                                </table>
                                <![endif]-->

                              </td>
                            </tr>
                          </table>
                          <!--======== TEXT WITH BUTTON BLOCK ===========-->

                        </td>
                      </tr>
                    </table>

                  </div></td>
                </tr>
              </table>
              <!--======== BOOK NOW BLOCK ===========-->

              <!--======== BOOK NOW BLOCK ===========-->
              <table block-type="layout-block" blocklabel="Custom - Book Now" class="block" align="left" width="310" border="0" cellspacing="0" cellpadding="0" style="width: 310px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" style="border-collapse: collapse; padding-top: 10px;"><div data-navis-type="editable-html-block">

                    <table class="book-now" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="center" valign="top" style="border-collapse: collapse;" class="spacing" style="padding-top: 30px;">

                          <!--======== HEADLINE BLOCK ===========-->
                          <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 1px;">
                                <div>LOREM IPSUM</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== HEADLINE BLOCK ===========-->

                          <!--======== ARTICLE HEADLINE BLOCK ===========-->
                          <table class="headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; text-align:left; padding-top: 5px; padding-bottom: 10px;">
                                <div>$000 Lorem Ipsum</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== ARTICLE HEADLINE BLOCK ===========-->

                          <!--======== IMAGE BLOCK ===========-->
                          <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td style="border-collapse: collapse;">

                                <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                              </td>
                            </tr>
                          </table>
                          <!--======== IMAGE BLOCK ===========-->

                          <!--======== HEADLINE BLOCK ===========-->
                          <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #9c9c9c; font-size: 14px; font-weight: bold; letter-spacing: 2px;">
                                <div>LOREM IPSUM</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== HEADLINE BLOCK ===========-->

                          <!--======== RULE BLOCK ===========-->
                          <table class="rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                            </tr>
                          </table>
                          <!--======== RULE BLOCK ===========-->

                          <!--======== TEXT BLOCK ===========-->
                          <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="left" valign="top" style="padding-top: 10px; border-collapse: collapse; padding-bottom: 0; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color:#9c9c9c;">
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== TEXT BLOCK ===========-->

                          <!--======== TEXT WITH BUTTON BLOCK ===========-->
                          <table class="col2-txt-btn" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="middle" style="padding-top: 10px; border-collapse: collapse;">

                                <!--[if (gte mso 9)|(IE)]>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                <td>
                                <![endif]-->
                                <table class="half phonenum" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                                  <tbody>
                                    <tr>
                                      <td align="left" valign="middle" height="30" style="border-collapse: collapse; padding-bottom: 0; text-align: left; vertical-align: middle; height: 30px;">
                                        <a target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; font-weight: bold;">123.456.7890</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                <td>
                                <![endif]-->
                                <table class="half" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle">
                                  <tbody>
                                    <tr>
                                      <td align="right" valign="middle" style="border-collapse: collapse;">

                                        <!--======== BUTTON ===========-->
                                        <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                          <tbody>
                                            <tr>
                                              <td style="border-collapse: collapse;" align="center">

                                                <table class="buttoncontainer" height="30" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                                  <tbody>
                                                    <tr>
                                                      <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                        <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <!--======== BUTTON ===========-->

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--[if (gte mso 9)|(IE)]>
                                </td>
                                </tr>
                                </tbody>
                                </table>
                                <![endif]-->

                              </td>
                            </tr>
                          </table>
                          <!--======== TEXT WITH BUTTON BLOCK ===========-->

                        </td>
                      </tr>
                    </table>

                  </div></td>
                </tr>
              </table>
              <!--======== BOOK NOW BLOCK ===========-->

            </div></td>
          </tr>
        </table>
        <!--======== BOOK NOW ROW ===========-->

        <!--======== RULE BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Rule" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse; padding-top: 20px;"><div data-navis-type="editable-html-block">

              <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== RULE BLOCK ===========-->

        <!--======== HEADLINE BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Headline" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="padding-top: 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                    <div>LOREM IPSUM</div>
                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== HEADLINE BLOCK ===========-->

        <!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - 2 Column Image and Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="col2-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse;">

                    <!--[if (gte mso 9)|(IE)]>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                    <td>
                    <![endif]-->
                    <table class="half image" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
                      <tbody>
                        <tr>
                          <td style="border-collapse: collapse;" alkign="center">
                            <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.22.26-PM_20190617212301.png" alt="A picnic in the park" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    <td>
                    <![endif]-->
                    <table class="half article" cellspacing="0" cellpadding="0" border="0" width="50%" align="left" valign="middle" height="218" style="height: 218px; vertical-align: middle;">
                      <tbody>
                        <tr>
                          <td align="right" valign="middle">

                            <table class="sidebar-article-wrap" width="90%" cellspacing="0" cellpadding="0" border="0" align="right">
                              <tbody>
                                <tr>
                                  <td>
                                    <!--======== ARTICLE HEADLINE BLOCK ===========-->
                                    <table class="headline article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tr>
                                        <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 20px; color:#666666; text-align:left; padding-bottom: 10px;">
                                          <div>Lorem Ipsum</div>
                                        </td>
                                      </tr>
                                    </table>
                                    <!--======== ARTICLE HEADLINE BLOCK ===========-->


                                    <!--======== ARTICLE TEXT BLOCK ===========-->
                                    <table class="text article" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tr>
                                        <td align="left" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 12px; line-height: 18px; color:#666666; text-align:left; padding-bottom: 20px;">
                                          <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
                                        </td>
                                      </tr>
                                    </table>
                                    <!--======== ARTICLE TEXT BLOCK ===========-->

                                    <!--======== BUTTON ===========-->
                                    <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                      <tbody>
                                        <tr>
                                          <td style="border-collapse: collapse;" align="center">

                                            <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                              <tbody>
                                                <tr>
                                                  <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                    <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">LEARN MORE</a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>

                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--======== BUTTON ===========-->

                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                    <![endif]-->

                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== IMAGE WITH SIDEBAR TEXT BLOCK ===========-->

        <!--======== RULE BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Rule" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse; padding-top: 20px;"><div data-navis-type="editable-html-block">

              <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== RULE BLOCK ===========-->

        <!--======== HEADLINE BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Headline" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="padding-top: 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                    <div>LOREM IPSUM</div>
                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== HEADLINE BLOCK ===========-->

        <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - 1 Column Image with Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="col1-img-txt" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" style="border-collapse: collapse;">

                    <!--======== IMAGE BLOCK ===========-->
                    <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td style="border-collapse: collapse; padding-top: 20px;">

                          <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/image_20190619204552.png" alt="Lounge area by the pool" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>

                        </td>
                      </tr>
                    </table>
                    <!--======== IMAGE BLOCK ===========-->

                    <!--======== TEXT BLOCK ===========-->
                    <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="left" valign="top" style="padding-top: 15px; border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        </td>
                      </tr>
                    </table>
                    <!--======== TEXT BLOCK ===========-->

                    <!--======== BUTTON ===========-->
                    <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tbody>
                        <tr>
                          <td style="padding-top: 15px; border-collapse: collapse;" align="center">

                            <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                              <tbody>
                                <tr>
                                  <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                    <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">VOTE NOW</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--======== BUTTON ===========-->

                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

        <!--======== OUR STORIES BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Our Stories" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="our-stories" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="center" valign="top" bgcolor="#ebeae8" style="border-collapse: collapse;">

                    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="center" valign="top" bgcolor="#ebeae8" width="620" height="70" style="border-collapse: collapse;" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg">
                          <!--[if gte mso 9]>
                          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:620px;height:70px;">
                            <v:fill type="tile" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" color="#ebeae8" />
                            <v:textbox inset="0,0,0,0">
                          <![endif]-->

                          <!--======== IMAGE BLOCK ===========-->
                          <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td style="border-collapse: collapse;" align="center">

                                <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" alt="Our Stories" style="border: 0px; display: block; float: none; width: 262px; height: 60px;" width="262" height="60" border="0" /></a>

                              </td>
                            </tr>
                          </table>
                          <!--======== IMAGE BLOCK ===========-->

                          <!--[if gte mso 9]>
                            </v:textbox>
                          </v:rect>
                          <![endif]-->

                        </td>
                      </tr>

                      <tr>
                        <td>

                          <!--======== HEADLINE BLOCK ===========-->
                          <table class="headline" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="top" style="padding-top: 10px; padding-bottom: 10px; border-collapse: collapse; font-family: Arial, sans-serif; color: #666666; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
                                <div>LOREM IPSUM</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== HEADLINE BLOCK ===========-->

                          <!--======== ARTICLE HEADLINE BLOCK ===========-->
                          <table class="headline article" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="middle" style="width: auto; padding-bottom: 20px; padding-right: 10px; border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 34px; line-height: 42px; color:#36404f; text-align:center;">
                                <div>Lorem Ipsum</div>
                              </td>
                            </tr>
                          </table>
                          <!--======== ARTICLE HEADLINE BLOCK ===========-->



                          <table class="col1-img-txt" align="center" width="90%" border="0" cellspacing="0" cellpadding="0" style="width: 90%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td align="center" valign="middle" style="border-collapse: collapse;">

                                <!--======== IMAGE BLOCK ===========-->
                                <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tr>
                                    <td style="border-collapse: collapse;">
                                      <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.25.41-PM_20190617212612.png" alt="Bottles of Wine" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                                    </td>
                                  </tr>
                                </table>
                                <!--======== IMAGE BLOCK ===========-->

                                <!--======== TEXT BLOCK ===========-->
                                <table class="text" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tr>
                                    <td align="left" valign="top" style="border-collapse: collapse; padding-top: 15px; padding-bottom: 15px; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
                                      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                                    </td>
                                  </tr>
                                </table>
                                <!--======== TEXT BLOCK ===========-->

                                <!--======== TEXT BLOCK ===========-->
                                <table class="text author" width="100%" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tr>
                                    <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; padding-right: 10px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:#36404f; font-weight: bold;">
                                      <div>Lorem ipsum</div>
                                    </td>
                                  </tr>
                                </table>
                                <!--======== TEXT BLOCK ===========-->

                              </td>
                            </tr>
                            <tr>
                              <td style="padding-bottom: 20px;">

                                <!--======== BUTTON ===========-->
                                <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                  <tbody>
                                    <tr>
                                      <td style="padding-top: 15px; border-collapse: collapse;" align="center">

                                        <table class="buttoncontainer" height="30" cellspacing="0" cellpadding="0" border="0" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                                          <tbody>
                                            <tr>
                                              <td height="30" style="border-radius:15px; color:#383838; height:30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                                                <a target="_blank" href="#link" style="font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; color:#383838; text-decoration:none;">READ MORE STORIES</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <!--======== BUTTON ===========-->

                              </td>
                            </tr>
                          </table>
                          <!--======== BIG IMAGE WITH TEXT BLOCK ===========-->

                          <!--======== IMAGE BLOCK ===========-->
                          <table class="image" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                            <tr>
                              <td style="border-collapse: collapse;">
                                <img border="0" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" alt="Bottom graphic" style="border: 0px; display: block; float: none; width: 100%; height: auto;" />
                              </td>
                            </tr>
                          </table>
                          <!--======== IMAGE BLOCK ===========-->

                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== OUR STORIES BLOCK ===========-->

        <!--======== SOCIAL ICONS BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Social Icons" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="social-icons" align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
                    <a href="https://www.facebook.com/AubergeDuSoleil.Napa/?fref=ts" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/3bc57562-1fe1-4623-9511-d7bb786e6042_ARC_ico_facebook_20181105184015.jpg" width="52" height="54" alt="Facebook" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                  </td>
                  <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
                    <a href="https://twitter.com/AubergeSoleil" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/fc96ff35-6590-4f86-8838-e3145d2d853c_ARC_ico_twitter_20181105184019.jpg" width="52" height="54" alt="Twitter" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                  </td>
                  <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
                    <a href="https://www.pinterest.com/auberge/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/64cce64d-16c5-4a99-9720-69631840f3e4_ARC_ico_pinterest_20181105184018.jpg" width="52" height="54" alt="Pinterest" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                  </td>
                  <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
                    <a href="https://www.instagram.com/aubergedusoleil/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/b378663e-8860-4632-8f92-07d5412dd3ac_ARC_ico_instagram_20181105184017.jpg" width="52" height="54" alt="Instagram" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== SOCIAL ICONS BLOCK ===========-->

        <!--======== TEXT BLOCK ===========-->
        <table block-type="layout-block" blocklabel="Custom - Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

              <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td align="left" valign="top" style="padding-top: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                  </td>
                </tr>
              </table>

            </div></td>
          </tr>
        </table>
        <!--======== TEXT BLOCK ===========-->

        <!--======== FOOTER BLOCK ===========-->
        <table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tr>
            <td align="center" style="border-collapse: collapse; padding-top: 20px;"><div data-navis-type="editable-html-block">

              <table class="footer" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tr>
                  <td style="border-collapse: collapse;">

                    <!--======== TEXT BLOCK ===========-->
                    <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td align="left" valign="top" style="padding-bottom: 20px; border-collapse: collapse; text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b;">
                          This email was sent to: %%CRMemail%%<br/>
                          This email was sent by: %%Member_Busname%%<br/>
                          %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
                          &copy; 2019 Auberge Resort Collection<br/>
                          <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
                          <a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
                          <a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a> |
                          <a style="color: #e6c870;" href="%%view_email_url%%" target="_blank">View Online</a>
                        </td>
                      </tr>
                    </table>
                    <!--======== TEXT BLOCK ===========-->

                  	<!--======== RULE BLOCK ===========-->
                    <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                      <tr>
                        <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
                      </tr>
                    </table>
                  	<!--======== RULE BLOCK ===========-->

                  	<!--======== LOGO ONLY BLOCK ===========-->
                  	<table class="logo-only" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                  	  <tr>
                  	    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 30px;">
                  	      <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="http://assets.navisperformance.com/Assets/14824/TD/Images/auberge-resorts-collection_20181210213643.png" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" border="0" /></a>
                  	    </td>
                  	  </tr>
                  	</table>
                  	<!--======== LOGO ONLY BLOCK ===========-->

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>
        <!--======== FOOTER BLOCK ===========-->

      </td>
    </tr>
  </tbody>
</table>
