<style>
@media (min-width: 621px){
  table[block-type="layout-block"]{
    width: 620px !important;
    height: auto !important;
  }
}

@media (max-width: 620px) {
  table[block-type="layout-block"]{
    width: 100% !important;
    height: auto !important;
  }
}
</style>

<!--======== BUTTON ===========-->
<table class="block buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tbody>
    <tr>
      <td style="border-collapse: collapse;">

        <table height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
          <tbody>
            <tr>
              <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                <a target="_blank" href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">VOTE NOW</a>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
<!--======== BUTTON ===========-->
