<style>
@media (min-width: 621px){
  table[block-type="layout-block"]{
    width: 620px !important;
    height: auto !important;
  }
}

@media (max-width: 620px) {
  table[block-type="layout-block"]{
    width: 100% !important;
    height: auto !important;
  }
}
</style>

<!--======== HEADLINE BLOCK ===========-->
<div class="block headline" style="border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">LOREM IPSUM</div>
<!--======== HEADLINE BLOCK ===========-->
