<style>
@media (min-width: 621px){
  table[block-type="layout-block"] {
    width: 620px !important;
    height: auto !important;
  }
}

@media (max-width: 620px) {
  table[block-type="layout-block"]{
    width: 100% !important;
    height: auto !important;
  }
}
</style>

<!--======== IMAGE BLOCK ===========-->
<div class="block image">
  <a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/620x351_20190726040648.png" alt="" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
</div>
<!--======== IMAGE BLOCK ===========-->
