<style>
@media (min-width: 621px){
  table[block-type="layout-block"]{
    width: 620px !important;
    height: auto !important;
  }
}

@media (max-width: 620px) {
  table[block-type="layout-block"]{
    width: 100% !important;
    height: auto !important;
  }
}
</style>

<!--======== PREHEADER BLOCK ===========-->
<div class="block preheader" style="padding: 10px 20px 10px 20px; font-family: Arial, sans-serif; color: #36404f; font-size: 9px; color:#9c9c9c; text-align: left;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit
</div>
<!--======== PREHEADER BLOCK ===========-->
