<style>
@media (min-width: 621px){
  table[block-type="layout-block"]{
    width: 620px !important;
    height: auto !important;
  }
}

@media (max-width: 620px) {
  table[block-type="layout-block"]{
    width: 100% !important;
    height: auto !important;
  }
}
</style>

<!--======== RULE BLOCK ===========-->
<table class="block rule" width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
  </tr>
</table>
<!--======== RULE BLOCK ===========-->
