<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== ARTICLE HEADLINE BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="headline article" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="top" style="border-collapse: collapse; font-family: Times, Times New Roman, Georgia, serif; font-size: 20px; color: #666666; text-align: left; padding-bottom: 10px;">
            <div>Lorem Ipsum</div>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== ARTICLE HEADLINE BLOCK ===========-->
