<style>
@media (max-width: 768px){
  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}

@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }

  .buttoncontainer {
    width: auto !important;
    min-width: auto !important;
    max-width: auto !important;
  }
}
</style>

<!--======== BUTTON ===========-->
<table block-type="layout-block" blocklabel="Custom - Button" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="button" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tbody>
          <tr>
            <td style="padding-top: 15px; border-collapse: collapse;" align="center">

              <table class="buttoncontainer" height="30" border="0" cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                <tbody>
                  <tr>
                    <td height="30" style="border-collapse: collapse; border-radius: 15px; color: #383838; height: 30px; background-color: #e6c870; padding: 0px 15px;" align="center">
                      <a target="_blank" href="#link" style="font-size: 10px; letter-spacing: 1px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; color: #383838; text-decoration: none;">BOOK NOW</a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>

    </div></td>
  </tr>
</table>
<!--======== BUTTON ===========-->
