<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== HEADLINE BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - Headline" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="headline" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="center" valign="top" style="padding-top: 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 12px; font-weight: bold; letter-spacing: 2px;">
            <div>LOREM IPSUM</div>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== HEADLINE BLOCK ===========-->
