<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== IMAGE BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="image" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td style="border-collapse: collapse;">
            <a href="#link" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/620x351_20190726040648.png" alt="" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== IMAGE BLOCK ===========-->
