<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== LOGO ONLY BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="logo-only" align="center" width="100%" border="0" bgcolor="#f3f1ef" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; background-color: #f3f1ef;">
        <tr>
          <td align="left" valign="top" style="border-collapse: collapse; padding: 10px 0 10px 20px;">
            <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="http://assets.navisperformance.com/Assets/14824/TD/Images/auberge-resorts-collection_20181210213643.png" width="222" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; width: 222px; height: auto;" border="0" /></a>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== LOGO ONLY BLOCK ===========-->
