<style>

@media (min-width: 621px){
  table[block-type="layout-block"]{
    height:auto !important;
  }
}

  @media (max-width: 620px) {
    .menu-nav {
      width: 100% !important;
    }

    .menu-nav .logo {
      width: 100% !important;
    }

    .menu-nav .logo td {
      padding-bottom: 10px !important;
    }

    .menu-nav .logo img {
      margin: 0 auto !important;
      float: none !important;
    }

    .menu-nav .menu {
      width: 100% !important;
    }

    .menu-nav .menu table {
      float: none !important;
    }

    .menu-nav .phone-desktop {
      display: none !important;
    }

    .menu-nav .phone-mobile {
      display: block !important;
    }
  }
</style>

<!--======== LOGO AND NAV BLOCK ===========-->
<table class="block menu-nav" width="100%" border="0" bgcolor="#f3f1ef" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0; background-color: #f3f1ef;">
  <tr>
    <td align="center" valign="top" style="border-collapse: collapse; padding: 10px;">

      <table class="nav" align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="left" valign="top" style="border-collapse: collapse;">

            <!--[if (gte mso 9)|(IE)]>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
            <td>
            <![endif]-->
            <table class="logo" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 180px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="left" valign="top" style="border-collapse: collapse;">
                  <a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14823/TD/Images/ADS_SC_logo_20190315142543.png" width="170" border="0" alt="Auberge du Soleil" style="border: 0px; display: block; float: none; height: auto; width: 170px;"/></a>
                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td>
            <![endif]-->
            <table class="menu" align="left" border="0" cellspacing="0" cellpadding="0" style="width: 300px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;">

                  <table align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px 5px 0;">
                        <a href="https://aubergeresorts.com/aubergedusoleil/stay/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">STAY</a>
                      </td>
                      <td align="left" valign="top" style="border-left: 1px solid #dddcd8; border-right: 1px solid #dddcd8; border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px;">
                        <a href="https://aubergeresorts.com/aubergedusoleil/dine/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">DINE</a>
                      </td>
                      <td align="left" valign="top" style="border-collapse: collapse; color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 0 5px 15px;">
                        <a href="https://aubergeresorts.com/aubergedusoleil/wellness/spa/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">WELLNESS</a>
                      </td>
                      <td class="phone-mobile" align="left" valign="top" style="display: none; padding-left: 15px;">

                        <table align="right" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                          <tr>
                            <td align="left" valign="middle" width="13" style="border-left: 1px solid #dddcd8; width: 13px; height: 25px; font-size: 25px; line-height: 25px; padding-left: 15px; padding-right: 10px; vertical-align: middle;">
                              <img src="https://assets.navisperformance.com/Assets/14877/TD/Images/esp-new-lifecycle-icon-phone-2_20181130202643.jpg" width="13" height="18" border="0" alt="telephone number: " style="display: inline-block; font-size: 18px; line-height: 18px;"/>
                            </td>
                            <td align="left" style="color: #666666; font-family: Arial, sans-serif; font-size: 11px; line-height: 15px; text-align: left; letter-spacing: 1px;">
                              <a href="tel:8003485406" target="_blank" class="link" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 25px; text-align: left; letter-spacing: 1px; color:#666666; text-decoration: none;"><strong>800.348.5406</strong></a>
                            </td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            <td>
            <![endif]-->
            <table class="phone-desktop" align="left" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
              <tr>
                <td class="spacing" align="right" style="border-collapse: collapse">

                  <table align="right" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
                    <tr>
                      <td align="left" valign="middle" width="13" style="width: 13px; height: 25px; font-size: 25px; line-height: 25px; padding-right: 10px; vertical-align: middle;">
                        <img src="https://assets.navisperformance.com/Assets/14877/TD/Images/esp-new-lifecycle-icon-phone-2_20181130202643.jpg" width="13" height="18" border="0" alt="telephone number: " style="display: inline-block; font-size: 18px; line-height: 18px;"/>
                      </td>
                      <td align="left" style="color: #666666; font-family: Arial, sans-serif; font-size: 11px; line-height: 15px; text-align: left; letter-spacing: 1px;">
                        <a href="tel:8003485406" target="_blank" class="link" style="font-family: Arial, sans-serif; font-size: 11px; line-height: 25px; text-align: left; letter-spacing: 1px; color:#666666; text-decoration: none;"><strong>800.348.5406</strong></span></a>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </tbody>
            </table>
            <![endif]-->

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
<!--======== LOGO AND NAV BLOCK ===========-->
