<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== PREHEADER BLOCK ===========-->
<table block-type="layout-block" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="preheader" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="left" valign="top" style="padding: 10px 20px 10px 20px; border-collapse: collapse; font-family: Arial, sans-serif; color: #36404f; font-size: 9px; color:#9c9c9c; text-align: left;">
            <div>"Lorem ipsum dolor sit amet, consectetur adipiscing</div>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== PREHEADER BLOCK ===========-->
