<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== RULE BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - Rule" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse; padding-top: 20px;"><div data-navis-type="editable-html-block">

      <table class="rule" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td bgcolor="#999999" height="1" style="font-size: 1px; line-height: 1px; height: 1px;">&nbsp;</td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== RULE BLOCK ===========-->
