<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }
}
</style>

<!--======== SOCIAL ICONS BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - Social Icons" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="social-icons" align="center" border="0" cellspacing="0" cellpadding="0" style="width: auto; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
            <a href="https://www.facebook.com/AubergeDuSoleil.Napa/?fref=ts" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/3bc57562-1fe1-4623-9511-d7bb786e6042_ARC_ico_facebook_20181105184015.jpg" width="52" height="54" alt="Facebook" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
          </td>
          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
            <a href="https://twitter.com/AubergeSoleil" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/fc96ff35-6590-4f86-8838-e3145d2d853c_ARC_ico_twitter_20181105184019.jpg" width="52" height="54" alt="Twitter" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
          </td>
          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
            <a href="https://www.pinterest.com/auberge/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/64cce64d-16c5-4a99-9720-69631840f3e4_ARC_ico_pinterest_20181105184018.jpg" width="52" height="54" alt="Pinterest" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
          </td>
          <td align="left" style="padding-left: 10px; padding-right: 10px; border-collapse: collapse;">
            <a href="https://www.instagram.com/aubergedusoleil/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/b378663e-8860-4632-8f92-07d5412dd3ac_ARC_ico_instagram_20181105184017.jpg" width="52" height="54" alt="Instagram" style="border: 0px; display: block; float: none; width: 100%; height: auto;" /></a>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== SOCIAL ICONS BLOCK ===========-->
