<style>
@media (max-width: 620px){
  table[block-type="layout-block"]{
    width: 100% !important;
  }

  .block .text {
    width: 95% !important;
  }
}
</style>

<!--======== TEXT BLOCK ===========-->
<table block-type="layout-block" blocklabel="Custom - Text" class="block" align="center" width="620" border="0" cellspacing="0" cellpadding="0" style="width: 620px; border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
  <tr>
    <td align="center" style="border-collapse: collapse;"><div data-navis-type="editable-html-block">

      <table class="text" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border-spacing: 0px !important; mso-table-lspace: 0; mso-table-rspace: 0;">
        <tr>
          <td align="left" valign="top" style="border-collapse: collapse; text-align: left; font-family: Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666;">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </td>
        </tr>
      </table>

    </div></td>
  </tr>
</table>
<!--======== TEXT BLOCK ===========-->
