
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<style type="text/css">

	/*
	COLORS
	Find and replace the values below to change the color:

	Page Background - #333333
	Container Backgrounds - #ffffff
	Footer Background - #cccccc
	Horizontal Lines - #999999
	Headlines - #888888
	Body Copy - #777777
	Images - #666666
	Buttons - #ff6600
	*/
body { padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#ffffff; -webkit-text-size-adjust:none }
		a { color:#666666; text-decoration:none }
		p { padding:0 !important; margin:0 !important }
		img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }
		.mcnPreviewText { display: none !important; }

		.btn-1 a { display: block; padding: 7px 12px; border-radius: 50px; color: #383838; text-decoration: none; }
		.btn-2 a { display: block; padding: 8px 12px; border-radius: 50px; color: #383838; text-decoration: none; }

		.slogan-text-1 a,
		.slogan-text-2 a { color:#ffffff; text-decoration:none }

		.footer-text-1 a { color:#666666; text-decoration:none }
		.footer-text-2 a { color:#9b9b9b; text-decoration:none }


		/* Mobile styles */
		@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
			u + .body .gwfw { width:100% !important; width:100vw !important; }

			.mobile-shell { width: 100% !important; min-width: 100% !important; }

			.m-center { text-align: center !important; }

			.left { margin: 0 auto 0 0 !important; }
			.center { margin: 0 auto !important; }

			.td { width: 100% !important; min-width: 100% !important; }

			.m-br-15 { height: 15px !important; }

			.m-td,
			.m-hide { display: none !important; width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important; min-height: 0 !important; }

			.m-block { display: block !important; }

			.mw-45 img { width: 45px !important; height: auto !important; }
			.mw-200 img { width: 200px !important; height: auto !important; }
			.maw-220 { max-width: 220px !important; }

			.fluid-img img { width: 100% !important; max-width: 100% !important; height: auto !important; }

			.column,
			.column-top { float: left !important; width: 100% !important; display: block !important; }

			.content-spacing { width: 10px !important; }

			.bg-img { height: auto !important; padding: 70px 0 30px; }

			/* Padding */
			.p-0 { padding: 0 !important; }
			.p-15 { padding: 15px !important; }

			.pt-10 { padding-top: 10px !important; }

			.pb-5 { padding-bottom: 5px !important; }
			.pb-10 { padding-bottom: 10px !important; }
			.pb-15 { padding-bottom: 15px !important; }
			.pb-20 { padding-bottom: 20px !important; }
			.pb-25 { padding-bottom: 25px !important; }
			.pb-30 { padding-bottom: 30px !important; }

			.p0-15 { padding: 0 15px !important; }
			.p20-15 { padding: 20px 15px !important; }
			.p25-15 { padding: 25px 15px !important; }
			.p30-15 { padding: 30px 15px !important; }

			.p0-0-8 { padding: 0 0 8px !important; }
			.p0-15-15 { padding: 0 15px 15px !important; }
			.p0-15-20 { padding: 0 15px 20px !important; }
			.p0-15-25 { padding: 0 15px 25px !important; }
			.p0-15-30 { padding: 0 15px 30px !important; }

			/* Slogan */
			.slogan-text-1 { font-size: 30px !important; line-height: 33px !important; }
			.slogan-text-2 { font-size: 9px !important; line-height: 12px !important; }

			/* Intro */
			.intro-text-2 { font-size: 16px !important; line-height: 20px !important; }

			/* Product */
			.product-text-3 { font-size: 16px !important; line-height: 20px !important; }

		}
</style>


<!--======== WRAPPER ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td bgcolor="#ffffff" width="100%" valign="top" style="padding:0px 0px 0px 0px;">

<!--[if (gte mso 9)|(IE)]>
<table width="620" align="center" cellpadding="0" cellspacing="0" border="0" style="width:465pt">
<tbody>
<tr>
<td>
<![endif]-->

<!--======== ALL THE CONTENT  ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" block-type="layout-block" >
<tbody>
<tr>
<td>

<!-- Container -->
<table class="container" style="max-width:620px; width:100%; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="620" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>
<tr>
<td class="container" width="620" style="padding: 0px; font-size: 0px; text-align: center;">

<!-- Content -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>

<!--======== PREHEADER ===========-->
<tr>
<td class="center" style="padding: 10px 20px 10px 20px; text-align: left; font-family: Arial, sans-serif; font-size: 9px; color:#9c9c9c;">This summer enjoy Napa Valley at Auberge du Soleil | <a style="color: #e6c870; text-decoration: underline;" href="%%view_email_url%%" target="_blank">HAVING TROUBLE? VIEW ONLINE</a>
</td>
</tr>
<!--======== PREHEADER ===========-->

<!--======== THREE COLUMN IMAGE + TEXT ===========-->
<tr>
<td bgcolor="#f3f1ef" class="container" width="620" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="200" valign="top" style="width:150pt;">
<![endif]-->

<div class="column180" style="display: inline-block; vertical-align: top; max-width:180px; width:100%;">

<!-- Content -->
<table class="column180" width="180" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px 10px 10px 10px" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="center" style="text-align: left;" align="center">

<a href="https://aubergeresorts.com/aubergedusoleil/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="_blank" target="_blank"><img src="https://assets.navisperformance.com/Assets/14823/TD/Images/ADS_SC_logo_20190315142543.png" width="170" border="0" alt=""/></a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
<td width="200" valign="top" style="width:150pt;">
<![endif]-->

<div class="column300" style="display: inline-block; vertical-align: top; max-width:300px; width:100%;">

<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:#888888; padding:2px 0px 1px 0px">

<table border="0" cellspacing="0" cellpadding="0" align="center" >
<tbody><tr>
<td style="color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px 5px 0px"><a href="https://aubergeresorts.com/aubergedusoleil/stay/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">STAY</a>
</td>
<td bgcolor="#dddcd8" width="1" style="width: 1px;"></td>
<td style="color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 15px 5px 15px"><a href="https://aubergeresorts.com/aubergedusoleil/dine/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">DINE</a>
</td>
<td bgcolor="#dddcd8" width="1" style="width: 1px;"></td>
<td style="color:#666666; font-family:Arial, sans-serif; font-size:12px; line-height:15px; text-align:center; letter-spacing:1px; padding: 5px 0px 5px 15px"><a href="https://aubergeresorts.com/aubergedusoleil/wellness/spa/" target="_blank" style="color:#666666; font-weight: bold; text-decoration:none;">WELLNESS</a>
</td>
</tr>
</tbody></table>


</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
<td width="200" valign="top" style="width:150pt;">
<![endif]-->

<div class="column120" style="display: inline-block; vertical-align: top; max-width:120px; width:100%;">

<!-- Content -->
<table class="column120" width="120" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 7px 0px 15px 0px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:#888888; padding:0px 0px 0px 0px">


<table border="0" cellspacing="0" cellpadding="0" align="center" >
<tbody>
<tr>
<td style="text-align:center;">

<img src="https://assets.navisperformance.com/Assets/14877/TD/Images/esp-new-lifecycle-icon-phone-2_20181130202643.jpg" width="13" height="18" border="0" alt=""/>

</td>
<td style="color:#666666; font-family:Arial, sans-serif; font-size:11px; line-height:15px; text-align:left; letter-spacing:1px; padding: 0px 0px 0px 10px"><a href="tel:8003485406" target="_blank" class="link" style="color:#666666; text-decoration:none;"><span class="link" style="color:#666666; text-decoration:none;"><strong>800.348.5406</strong></span></a></td>
</tr>
</tbody>
</table>



</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>


<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

<!--======== THREE COLUMN IMAGE + TEXT ===========-->



								<!-- Slogan -->
								<tr>
									<td style="padding-bottom: 36px;" class="pb-20">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td background="https://assets.navisperformance.com/Assets/14824/TD/Images/ADS_June2018_00920_20190409210608_20190516223536.jpg" style="-webkit-background-size: cover; background-size: cover; background-position: center top;" bgcolor="#333333" height="240" valign="top" class="bg-img">
													<!--[if gte mso 9]>
													<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:640px;height:240px;">
													<v:fill type="frame" src="images/bg_img_prop.jpg" color="#333333" />
													<v:textbox inset="0,0,0,0">
													<![endif]-->
													<div>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td class="content-spacing" width="30" style="font-size:0pt; line-height:0pt; text-align:left;">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-hide">
																		<tr>
																			<td class="img" style="padding: 120px 0; font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
																		</tr>
																	</table>
										                        </td>
																<td valign="bottom">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td style="padding: 20px 0 40px;" class="p-0">
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td class="slogan-text-1 pb-10" style="padding-bottom: 13px; color:#ffffff
																						; font-family:Times, 'Times New Roman', Georgia, serif; font-size:45px; line-height:46px; text-align:left; text-shadow:0 2px 4px rgba(0, 0, 0, 0.15);"></td>
																					</tr>
																					<tr>
																						<td align="left">
																							<!-- Button -->
																							<table border="0" cellspacing="0" cellpadding="0">
																								<tr>
																									<td class="btn-1" bgcolor="#e6c870" style="mso-padding-alt:10px 20px; border-radius:50px; color:#383838; font-family:Arial, sans-serif; font-size:9px; line-height:13px; text-align:center; letter-spacing:1px;"><a href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406/" target="_blank" class="link-1" style="display: block; padding: 8px 15px; color:#383838; text-decoration:none;"><span class="link-1" style="color:#383838; text-decoration:none;"><strong>BOOK NOW</strong></span></a></td>
																								</tr>
																							</table>
																							<!-- END Button -->
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
																<td class="content-spacing" width="190" style="font-size:0pt; line-height:0pt; text-align:left;"></td>
															</tr>
														</table>
													</div>
													<!--[if gte mso 9]>
													</v:textbox>
													</v:rect>
													<![endif]-->
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<!-- END Slogan -->


<!--======== ONE COLUMN TEXT ===========-->
<tr>
<td style="padding: 20px; text-align: center;">

<div style=""><div id="" style=""><span style="font-family: Arial, sans-serif; color: #36404f;"><span style="font-size: 12px; letter-spacing: 2px;"><b>C'EST LA VIE</b></span></span></div></td></tr>


</tr>
<tr>
<td style="padding: 5px 20px 20px 20px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666">

<div>
<div id="">Breakfast on the terrace overlooking the valley. An excursion thru the vineyards. A taste of this. A swirl of that. A leisurely afternoon nap at the pool before another delicious dinner. Such is life in Napa Valley. Indulge this summer at Auberge du Soleil.


</div>
</div>

</td>
</tr>
<!--======== ONE COLUMN TEXT ===========-->


<!--======== BUTTON ===========-->
<tr>
<td style="padding: 0px 20px 12px 20px;">

<!-- button -->
<table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="center">
<tbody>
<tr>
<td>

<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">

<a class="button30" target="_blank" href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="color:#383838; text-decoration:none;">BOOK NOW</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
<!--======== BUTTON ===========-->

<!--======== ONE COLUMN TEXT ===========-->




<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->


<!--======== HORIZONTAL LINE 20 ===========--><tr><td style="padding: 10px 20px 10px 20px; text-align: center;"><!-- line --><table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->

<!--======== HEADLINE ===========-->
<tr>
<td style="padding: 20px 20px 15px 20px; text-align: center; font-family:Arial, sans-serif; font-size: 12px; letter-spacing: 2px; font-weight: bold; color:#36404f;">

<div>
A TASTE OF SUMMER
</div>

</td>
</tr>
<!--======== HEADLINE ===========-->

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->
<table width="50" border="0" cellspacing="0" cellpadding="0" align="center" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->

<!--======== ONE ROW IMAGE + TEXT ===========-->
<tr>
<td class="container" width="620" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->

<div class="column300" style="display: inline-block; vertical-align: top; max-width: 300px; width:100%">

<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center"><a href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.22.26-PM_20190617212301.png" alt="" style="border-style: initial; border-color: initial; border-image: initial; display: block; min-width: 280px; width: 280px;" width="280"/></a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->

<div class="column300" style="display: inline-block; vertical-align: top; max-width: 300px; width:100%">

<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" >
<tbody>
<tr>
<td class="autoheight" valign="middle" height="190" style="padding: 0px; height: 190px; vertical-align: middle;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Times, Times New Roman, Georgia, serif; font-size: 20px; color:#666666; padding:0px 0px 10px 0px">
<div>
Picnic in the Parc</div>
</td>
</tr>
<tr>
<td style="text-align: left;font-family: Times, Times New Roman, Georgia, serif;  font-size: 12px;  line-height: 18px; color:#666666; padding: 0px 0px 20px 0px;">
<div>While away the afternoon at Parc du Soleil. Allow us to deliver a French-inspired picnic featuring artisan cheeses and charcuterie, seasonal salads, fruit, and your varietal of choice of our outstanding house wines, all set within our picturesque olive grove.



</div></td></tr><tr><td><!-- button --><table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left">
<tbody>
<tr>
<td>

<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="20" style="border-radius: 0px; color:#383838; height:20px; font-size:12px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold;  padding: 0px 0px 0px 0px;" align="center">

<a class="button20" target="_blank" href="https://aubergeresorts.com/aubergedusoleil/experiences/picnic-in-the-parc/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="color:#383838; text-decoration:none;">LEARN MORE</a>

</td>
</tr>
<tr><td bgcolor="#e6c870" height="3" style="line-height: 3px; font-size: 3px;">&nbsp;</td></tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
<!--======== ONE ROW IMAGE + TEXT ===========-->



</div>

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
<!--======== ONE ROW IMAGE + TEXT ===========-->

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->

<!--======== ONE COLUMN IMAGE + TEXT ===========-->
<tr>
<td class="container" width="620" bgcolor="#ffffff" style="padding: 10px 10px; font-size: 0px;
text-align: center;">
<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="600" valign="top" style="width:450pt;">
<![endif]-->
<div style="display: inline-block; vertical-align: top; max-width: 600px; width:100%">
<!-- Content -->
<table class="column1" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size:
12px; letter-spacing: 2px; font-weight: bold; color:#36404f;">
<div>
VOTE NOW IN THE COND&Eacute; NAST READER&#39;S CHOICE AWARDS
</div>
</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center"><a href="https://www.cntraveler.com/rca/vote?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img width="400" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/image_20190619204552.png" alt="" style="border: 0; display: block; max-width: 580px; width: 100%;
height: auto;"></a>
</td>
</tr>
<tr>
<td style="padding: 20px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman,
Georgia, serif; font-size: 18px; color:#666666">
<div>
Voting is open now through June 30th. Tell fellow travellers what you think about us for a
chance to win your dream vacation.
</div>
</td>
</tr>
<tr>

<td>
<!-- button -->
<table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left">
<tbody>
<tr>
<td>
<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>

<td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-
spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color:

#e6c870; padding: 0px 15px 0px 15px;" align="center">
<a class="button30" target="_blank" href="https://www.cntraveler.com/rca/vote?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="color:#383838; text-decoration:none;">VOTE NOW</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- button -->
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!-- Content -->
</div>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</td>
</tr>
<!--======== ONE COLUMN IMAGE + TEXT ===========-->

<!--======== ONE COLUMN IMAGE + TEXT ===========-->
<tr>
<td class="container" width="620" style="padding: 0px 20px; font-size: 0px; text-align: center;">

<!-- Content -->
<table class="column580" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td height="70" style="background-position: right; background-repeat: no-repeat; background-size: cover; height:52.5pt; vertical-align: middle; background:url(https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg)" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" valign="middle" bgcolor="#ebeae8">

<!--[if gte mso 9]>

<v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style="behavior: url(#default#VML); display: inline-block; position: absolute; width: 435pt; height:52.5pt; top: 0; left: 0; border: 0; z-index: 1;" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" />

<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="display: inline-block; position: absolute; width: 435pt; height:52.5pt; top: 0; left: 0; border: 0; z-index: 2;">
<v:fill color="#000000" opacity="0%" style="z-index: 1;"/>
<v:textbox inset="0,0,0,0">
<div>
<div style="font-size:0; line-height:0;">

<![endif]-->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="autoheight" valign="middle" style="vertical-align:middle;">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 30px 0px 30px; text-align: center;">

<img src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" width="262" height="60" border="0" alt="Our Stories" style="color:#000000; font-family:Georgia, serif; font-size:40px; text-align:left; letter-spacing:1px; font-style: italic;"/>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

<!--[if gte mso 9]>
</div>
</v:textbox>
</v:fill>
</v:rect>
</v:image>
<![endif]-->

</td>
</tr>
<tr>
<td bgcolor="#ebeae8" style="padding: 10px 50px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 10px 20px 20px 20px; text-align: center; font-family:Arial, sans-serif; font-size: 12px; letter-spacing: 2px; font-weight: bold; color:#666666">

<div>
STORIES FROM AUBERGE DU SOLEIL
</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 5px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 40px; color:#bbbab8;">

<div>
Drink
</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 28px; color:#36404f;">

<div>
50 Shades of Rosé</div>

</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center"><a href="https://aubergeresorts.com/aubergedusoleil/stories/shades-of-rose/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank"><img width="480" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-06-17-at-2.25.41-PM_20190617212612.png" alt="" style="border: 0; display: block; max-width: 480px; width: 100%; height: auto;"/></a>

</td>
</tr>
<tr>
<td style="padding: 20px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666">

<div>
Ahh, summer. The long awaited season of carefree afternoons, lingering poolside with bottomless glasses of crisp, refreshing, palate-pleasing Rosé. While this beautiful, multi-hued wine has long been the drinkable go-to for summer, Rosé has blossomed in popularity to become a year-round selection. Thanks to its food-friendly nature, Rosé now commands its own section in the supermarket wine aisle and has expanded beyond one or two offerings on restaurant wine lists to showcase domestic offerings from California and Oregon as well as international varietals from France, Italy and Spain, as winemakers expand on traditional Rosé styles and chefs and sommeliers embrace the versatility of Rosé as an ideal pairing companion.
</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 10px 0px;">

<table cellspacing="0" cellpadding="0" border="0" align="left" >
<tbody>
<tr>
<td style="padding: 0px 10px 0px 0px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 18px; color:#36404f">
<div>
Director of Food and Beverage</div>
</td>
<td bgcolor="#ffffff" style="padding: 0px 10px 0px 10px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 10px; color:#666666">
<div>
Staff
</div>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666">

<div>

</div>

</td>
</tr>
<tr>
<td style="padding: 10px 0px 10px 0px; text-align: center;">

<!-- line -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#cccccc" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<tr>
<td style="padding: 10px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666; font-weight: bold;">

<table cellspacing="0" cellpadding="0" border="0" align="left" >
<tbody>
<tr>
<td style="padding: 0px 0px 0px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666; font-weight: bold;">
<div>
<a style="color:#666666; text-decoration: none;" href="https://aubergeresorts.com/aubergedusoleil/stories/shades-of-rose/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" target="_blank">Read More Stories</a> </div>
</td>
<td style="padding: 0px 10px 0px 10px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 10px; color:#666666"><a href="https://aubergeresorts.com/esperanza/stories/" target="_blank"><img src="https://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-arrow-right-transparent_20181130201726.png"/></a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>

</tbody>
</table>

</td>
</tr>
<tr>
<td height="48" style="background-position: right; background-repeat: no-repeat; background-size: cover; height:36pt; vertical-align: middle; background:url(https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg)" background="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" valign="middle" bgcolor="#ebeae8">

<!--[if gte mso 9]>

<v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style="behavior: url(#default#VML); display: inline-block; position: absolute; width: 435pt; height:36pt; top: 0; left: 0; border: 0; z-index: 1;" src="https://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" />

<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="display: inline-block; position: absolute; width: 435pt; height:36pt; top: 0; left: 0; border: 0; z-index: 2;">
<v:fill color="#000000" opacity="0%" style="z-index: 1;"/>
<v:textbox inset="0,0,0,0">
<div>
<div style="font-size:0; line-height:0;">

<![endif]-->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="autoheight" valign="middle" style="vertical-align:middle;">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 30px 0px 30px; text-align: center;">

<!-- button -->
<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">

<a class="button30" target="_blank" href="https://aubergeresorts.com/aubergedusoleil/stories/?utm_medium=email&utm_source=reach&utm_campaign=061919-ads-email-summer&NCK=8003485406" style="color:#383838; text-decoration:none;">READ THE STORIES<span style="padding: 0px 0px 0px 10px"><img src="https://assets.navisperformance.com/Assets/14877/TD/Images/ico_arrow_2_esp_20181130215628.png"/></span></a>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

<!--[if gte mso 9]>
</div>
</v:textbox>
</v:fill>
</v:rect>
</v:image>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!-- Content -->


</td>
</tr>
<!--======== ONE COLUMN IMAGE + TEXT ===========-->

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->




<!--======== SOCIAL MEDIA===========-->
<tr>
<td style="padding: 20px 40px 20px 40px; text-align: center; font-family: Arial, sans-serif; font-size: 14px; color:#777777">

<a href="https://www.facebook.com/AubergeDuSoleil.Napa/?fref=ts" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/3bc57562-1fe1-4623-9511-d7bb786e6042_ARC_ico_facebook_20181105184015.jpg" width="52" height="54" alt=""/></a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://twitter.com/AubergeSoleil" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/fc96ff35-6590-4f86-8838-e3145d2d853c_ARC_ico_twitter_20181105184019.jpg" width="52" height="54" alt=""/></a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://www.pinterest.com/auberge/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/64cce64d-16c5-4a99-9720-69631840f3e4_ARC_ico_pinterest_20181105184018.jpg" width="52" height="54" alt=""/></a>&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://www.instagram.com/aubergedusoleil/" target="_blank"><img border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/b378663e-8860-4632-8f92-07d5412dd3ac_ARC_ico_instagram_20181105184017.jpg" width="52" height="54" alt=""/></a>&nbsp;&nbsp;&nbsp;&nbsp;



</td>
</tr>
<!--======== SOCIAL MEDIA===========-->

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->

<!--======== FOOTER ===========-->
<tr>
<td class="container" width="620" bgcolor="#ffffff" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="200" valign="top" style="width:150pt;">
<![endif]-->

<div class="column200" style="display: inline-block; vertical-align: top; max-width: 200px; width:100%">

<!-- Content -->
<table class="column200" width="200" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px" align="center">

<!-- button -->
<table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left">
<tbody>
<tr>
<td width="25">

<a target="_blank" href="tel:8003485406" style="color:#666666; text-decoration:none;"><img src="https://assets.navisperformance.com/Assets/14824/TD/Images/4055e688-abb4-46d1-94be-9455a2890c30_ARC_ico_phone_20181105184018.jpg" width="15" height="21" border="0" alt=""/></a>

</td>
<td style="color:#666666; font-size:14px; letter-spacing: 1px; text-align:left; font-family:Arial, sans-serif; font-weight:bold; padding: 0px 0px 0px 0px;" align="center">

<a target="_blank" href="tel:8003485406" style="color:#666666; text-decoration:none;"><div>800.348.5406</div></a>


</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
<td width="400" valign="top" style="width:300pt;">
<![endif]-->

<div class="column400" style="display: inline-block; vertical-align: top; max-width: 400px; width:100%">

<!-- Content -->
<table class="column400" width="400" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" >
<tbody>
<tr>
<td class="autoheight" valign="middle" height="135" style="padding: 0px; height: 135px; vertical-align: middle;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b; padding: 0px 0px 0px 0px;">

All offers are subject to availability. Blackout dates and restrictions may apply.
Offers are subject to the terms and conditions found on the hotel website.Book now through the numbers or links above, or call your travel professional.<br/><br/>
This email was sent to: %%CRMemail%%<br/>
This email was sent by: %%Member_Busname%%<br/>
%%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
&copy; 2019 Auberge Resort Collection<br/>

<a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
<a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
<a style="color: #e6c870;" href="https://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->

</div>

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

</td>
</tr>

<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>

<tr>
<td class="center" style="padding: 10px 20px 20px 20px; text-align: center;"><a href="https://www.aubergeresorts.com/?utm_medium=email&utm_source=reach&utm_campaign=050819-cr-email-sunshinevine&NCK=8003485406" target="_blank"><img width="200" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/ARC_HorSmall_rgb_20181114163828_20181206203011.jpg" alt="" style="border: 0; display: inline-block; min-width: 222px; width: 222px;"/></a>

</td>
</tr>
<!--======== FOOTER ===========-->

</tbody>
</table>
<!-- Content -->

</td>
</tr>
</tbody>
</table>
<!-- Container -->

</td>
</tr>
</tbody>
</table>
<!--======== ALL THE CONTENT  ===========-->

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!--======== WRAPPER ===========-->
