
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
                                                                                                                                   
<style type="text/css">

	/* 
	COLORS
	Find and replace the values below to change the color:
	
	Page Background - #333333
	Container Backgrounds - #ffffff
	Footer Background - #cccccc
	Horizontal Lines - #999999
	Headlines - #888888
	Body Copy - #777777
	Images - #666666
	Buttons - #ff6600
	*/
	
	body {background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
	.ReadMsgBody {width: 100%; background-color: #ffffff;}
	
	/* Removes underline for hyperlinked text in Windows 10 Mail */
	a {text-decoration:none;}
	
	/* Stops email clients resizing small text. */
    * { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
	
	/* Stops Outlook from adding extra spacing to tables. */
    table, td {border-collapse: collapse; margin: 0px auto;}
	
	/* Outlook Webmail App specific code that forces columns to be the correct width. */
	[owa] .column600 {max-width: 600px!important;}
	[owa] .column400 {max-width: 400px!important;}
	[owa] .column300 {max-width: 300px!important;}
	[owa] .column200 {max-width: 200px!important;}
	[owa] .column180 {max-width: 180px!important;}
	[owa] .column150 {max-width: 150px!important;}
	[owa] .column120 {max-width: 120px!important;}
	
	/* Fixes Outlook Webmail App line height and display button issues */
	.button60 { display:inline-block!important; line-height:60px!important;}
	.button40 { display:inline-block!important; line-height:40px!important;}
	.button30 { display:inline-block!important; line-height:30px!important;}

	
	@media only screen and (min-width: 660px)  {
	
		.container {max-width: 620px;}
		
		/* Force a max-width on columns in desktop view*/
		.column600 {max-width: 600px!important;}
		.column400 {max-width: 400px!important;}
		.column300 {max-width: 300px!important;}
		.column200 {max-width: 200px!important;}
		.column180 {max-width: 180px!important;}
		.column150 {max-width: 150px!important;}
		.column120 {max-width: 120px!important;}

			}
	
	@media only screen and (max-width: 660px)  {
		
		.container {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.buttoncontainer {width:100%!important; min-width:100%!important; max-width:100%!important;}
		
		.column600 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column400 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column300 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column200 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column180 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column150 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		.column120 {width:100%!important; min-width:100%!important; max-width:100%!important; display: -moz-inline-stack;}
		
		td.imagecontainer img {width:100%!important; min-width:100%!important; max-width:100%!important; height: auto!important;}
		
		/* Basic Styles */
		.center {text-align: center!important;}
		.hideformobile {display:none!important;}
		.autoheight {height:auto!important}

</style>


<!--======== WRAPPER ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td bgcolor="#ffffff" width="100%" valign="top" style="padding:0px 0px 0px 0px;">

<!--[if (gte mso 9)|(IE)]>
<table width="620" align="center" cellpadding="0" cellspacing="0" border="0" style="width:465pt">
<tbody>
<tr>
<td>
<![endif]-->

<!--======== ALL THE CONTENT  ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" block-type="layout-block" >
<tbody>
<tr>
<td>

<!-- Container -->
<table class="container" style="max-width:620px; width:100%; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" width="620" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody>
<tr>
<td class="container" width="620" style="padding: 0px; font-size: 0px; text-align: center;">

<!-- Content -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>

<!--======== PREHEADER ===========-->
<tr>
<td class="center" style="padding: 10px 20px 10px 20px; text-align: left; font-family: Arial, sans-serif; font-size: 9px; color:#9c9c9c;">
<br/><br/>Receive up to $300 in resort credit. | <a style="color: #e6c870; text-decoration: underline;" href="%%view_email_url%%" target="_blank">VIEW ONLINE</a>
</td>
</tr>
<!--======== PREHEADER ===========-->

<tr>
<td bgcolor="#f3f1ef" style="padding: 10px 20px 10px 20px; text-align: left;"><a href="http://aubergeresorts.com/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img width="200" border="0" src="http://assets.navisperformance.com/Assets/14824/TD/Images/auberge-resorts-collection_20181210213643.png" alt="" style="border: 0; display: inline-block; min-width: 222px; width: 222px;"/></a>

</td>
</tr>

<!--======== FULL WIDTH IMAGE ===========-->
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" block-type="layout-block" >
<tbody>
<tr>
<td class="imagecontainer" style="padding: 0px 0px 0px 0px; text-align: center;">

<a href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img width="620" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/ADS_June2018_00920_20190409210608_20190516223536.jpg" alt="" style="border: 0; display: inline-block; max-width: 620px; width: 100%; height: auto;"/></a>

</td>
</tr>
</tbody>
</table>
<!--======== FULL WIDTH IMAGE ===========-->	
<!--======== HEADLINE ===========-->
<tr>
<td style="padding: 30px 20px 0px 20px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; letter-spacing: 2px; line-height: 18px; font-weight: bold; color:#36404f;">

<div>
GET OUTSIDE AND PLAY IN NAPA
</div>

</td>
</tr>
<!--======== HEADLINE ===========-->
    
<!--======== ONE COLUMN TEXT ===========-->
<tr>
<td style="padding: 20px 20px 20px 20px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666">

<div>
Experience the one-of-a-kind energy of summer in Napa, when the vineyards are heavy with grapes starting to ripen, and long days are meant for cycling winding country roads, tasting chilled rosés on sun-lit terraces, dining on farm-fresh cuisine inspired by the bounty of the valley, and taking in top-notch cultural and culinary festivals.


                   
</div>

</td>
</tr>
<!--======== ONE COLUMN TEXT ===========-->
    
  
    
    

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->	
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%!important; min-width: 100%;" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20 ===========-->


    
<tr>
<td class="container" width="620" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->
<!--[if (gte mso 9)|(IE)]>
</td>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->

<div class="column300" style="display: inline-block; vertical-align: top; max-width: 300px; width:100%">

    
<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; color:#666666; letter-spacing:1px; padding:10px 0px 0px 0px">
<div>SOLAGE</div>
</td>
</tr>
<tr>
<td style="text-align:left; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; padding:0px 0px 10px 0px">
<div>$100 Nightly Resort Credit</div>
</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center">
<a href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8774693420" target="_blank">
<img width="280" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-2.58.35-PM_20190708223301.png" alt="" style="border: 0; display: block; min-width: 280px; width: 280px; height: 184px;"/></a>

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 8px 0px; font-weight: bold;">
<div>Small Town Charm, 
Urban Sophistication<br/><br/></div>
</td>
</tr>
<tr>
<td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 20px 0px">
<div>Receive a $100 resort credit each night you stay and spend it your way with our Sunlight & SOLnight package.<br/><br/><br/></div>
</td>
</tr>
    
   
   


<tr>
<td>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="width: 100%;  min-width: 100%" >
<tbody>
<tr>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="left" >
<tbody>
<tr>
<td height="24" style="color:#383838; height:24px; font-size:14px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; padding: 0px 0px 0px 0px;" align="center">


<a class="button24" target="_blank" href="tel:8774693420" style="color:#383838; text-decoration:none;">877.469.3420</a>

</td>
</tr>
</tbody>
</table>

</td>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="24" style="border-radius:12px; color:#383838; height:24px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">


<a class="button24" target="_blank" href="https://be.synxis.com/?chain=16237&hotel=60898&level=chain&promo=SUNLIGHT&nights=2&arrive=2019-08-03&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="color:#383838; text-decoration:none;">BOOK NOW</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->	
    	
</div>
<div class="column300" style="display: inline-block; vertical-align: top; max-width: 300px; width:100%">

	
<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; color:#666666; letter-spacing:1px; padding:10px 0px 0px 0px">
<div>CALISTOGA RANCH</div>
</td>
</tr>
<tr>
<td style="text-align:left; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; padding:0px 0px 10px 0px">
<div>$150 Daily Resort Credit</div>
</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center">
<a href="https://be.synxis.com/?chain=16237&hotel=60906&adult=2&level=chain&promo=SHINE&nights=3&arrive=2019-06-23&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" target="_blank">
<img width="280" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-05-23-at-4.50.20-PM_20190523235214.png" alt="" style="border: 0; display: block; min-width: 280px; width: 280px; height: auto;"/></a>

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 8px 0px; font-weight: bold;">
<div>Rustic Luxury, Natural Beauty<br/><br/></div>
</td>
</tr>
<tr>
<td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 20px 0px">
<div>With the Sunshine & Vine package, you will receive a $150 daily resort credit to use towards an immersive spa treatment surrounded by nature or an unforgettable dining experience overlooking Lake Lommel.</div>
</td>
</tr>

<tr>
<td>

<!-- button -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="width: 100%;  min-width: 100%" >
<tbody>
<tr>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="left" >
<tbody>
<tr>
<td height="24" style="color:#383838; height:24px; font-size:14px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; padding: 0px 0px 0px 0px;" align="center">


<a class="button24" target="_blank" href="tel:8775094561" style="color:#383838; text-decoration:none;">877.509.4561</a>

</td>
</tr>
</tbody>
</table>

</td>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="24" style="border-radius:12px; color:#383838; height:24px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">


<a class="button24" target="_blank" href="https://be.synxis.com/?chain=16237&hotel=60906&adult=2&level=chain&promo=SHINE&nights=3&arrive=2019-06-23&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="color:#383838; text-decoration:none;">BOOK NOW</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->		
</div>



<!-- Content -->
<table class="column300" width="300" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; color:#666666; letter-spacing:1px; padding:10px 0px 0px 0px">
<div>AUBERGE DU SOLEIL</div>
</td>
</tr>
<tr>
<td style="text-align:left; font-family: Times, Times New Roman, Georgia, serif; font-size: 22px; color:#525252; padding:0px 0px 10px 0px">
<div>C’est La Vie!</div>
</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center">
<a href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank">
<img width="280" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/ADS_June2018_04254--2-_20190619201842.jpg" alt="" style="border: 0; display: block; min-width: 280px; width: 280px; height: auto;"/></a>

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 8px 0px; font-weight: bold;">
<div>Inspired by the South of France. Infused with California soul.</div>
</td>
</tr>
<tr>
<td bgcolor="#e1e0de" height="1" style="font-size: 1px; line-height: 1px;">&nbsp;

</td>
</tr>
<tr>
<td style="text-align:left; font-family: Arial, sans-serif; font-size: 14px; color:#9c9c9c; padding:10px 0px 20px 0px">
<div>Breakfast on the terrace overlooking the valley. Book our C’est La Vie! offer and receive up to $300 in resort credit.
    
    
    </div>
</td>
</tr>

<tr>
<td>

<!-- button -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="width: 100%;  min-width: 100%" >
<tbody>
<tr>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="left" >
<tbody>
<tr>
<td height="24" style="color:#383838; height:24px; font-size:14px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; padding: 0px 0px 0px 0px;" align="center">


<a class="button24" target="_blank" href="tel:&#10;8003485406" style="color:#383838; text-decoration:none;">
800.348.5406</a>

</td>
</tr>
</tbody>
</table>

</td>
<td width="50%">

<table height="24" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="24" style="border-radius:12px; color:#383838; height:24px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">


<a class="button24" target="_blank" href="https://gc.synxis.com/rez.aspx?Hotel=22943&Chain=8565&template=ResponsiveShared_AUBERGE&shell=RBE_AUBERGE&locale=en-US&adult=2&nights=2&rate=LA%20VIE&utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" style="color:#383838; text-decoration:none;">BOOK NOW</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->	
<tr>
<td class="container" width="620" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="300" valign="top" style="width:225pt;">
<![endif]-->


    
    

    
    
<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->	
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20===========-->
    
    
    
<!--======== ONE COLUMN IMAGE + TEXT ===========-->
<tr>
<td class="container" width="620" bgcolor="#ffffff" style="padding: 10px 10px; font-size: 0px; text-align: center;">

<!--[if (gte mso 9)|(IE)]>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td width="600" valign="top" style="width:450pt;">
<![endif]-->

<div style="display: inline-block; vertical-align: top; max-width: 600px; width:100%">

<!-- Content -->
<table class="column1" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="padding: 10px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; letter-spacing: 2px; font-weight: bold; color:#36404f;">

<div>
EXPLORE NAPA ADVENTURES
</div>

</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center"><a href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img width="580" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-3.57.17-PM_20190708225744.png" alt="" style="border: 0; display: block; max-width: 580px; width: 100%; height: 314px;"/></a>

</td>
</tr>
<tr>
<td style="padding: 20px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666">

<div>
Cruise the legendary Silverado Trail, shaded by towering oak trees, in a classic convertible or float high above the lush vineyards stretched across the valley floor in a hot air balloon. Explore your next thrill in wine country.
</div>

</td>
</tr>
<tr>
<td>

<!-- button -->
<table class="buttoncontainer" cellspacing="0" cellpadding="0" border="0" align="left">
<tbody>
<tr>
<td>

<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">

<a class="button30" target="_blank" href="https://aubergeresorts.com/napa/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" style="color:#383838; text-decoration:none;">EXPLORE</a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<!-- Content -->
		
</div>

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

</td>
</tr>
<!--======== ONE COLUMN IMAGE + TEXT ===========-->


<!--======== ONE COLUMN IMAGE + TEXT ===========-->
<tr>
<td class="container" width="620" style="padding: 10px 20px 0; font-size: 0px; text-align: center;">

<!-- Content -->
<table class="column580" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td height="70" style="background-position: right; background-repeat: no-repeat; background-size: cover; height:52.5pt; vertical-align: middle; background:url(http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg)" background="http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" valign="middle" bgcolor="#ebeae8">

<!--[if gte mso 9]>

<v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style="behavior: url(#default#VML); display: inline-block; position: absolute; width: 435pt; height:52.5pt; top: 0; left: 0; border: 0; z-index: 1;" src="http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpapertop2_20181219181409.jpg" />

<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="display: inline-block; position: absolute; width: 435pt; height:52.5pt; top: 0; left: 0; border: 0; z-index: 2;">
<v:fill color="#000000" opacity="0%" style="z-index: 1;"/>
<v:textbox inset="0,0,0,0">
<div>
<div style="font-size:0; line-height:0;">

<![endif]-->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="autoheight" valign="middle" style="vertical-align:middle;">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 30px 0px 30px; text-align: center;">

<img src="http://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-ourstories_20181130200858.png" width="262" height="60" border="0" alt="Our Stories" style="color:#000000; font-family:Georgia, serif; font-size:40px; text-align:left; letter-spacing:1px; font-style: italic;"/>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

<!--[if gte mso 9]>
</div>
</v:textbox>
</v:fill>
</v:rect>
</v:image>
<![endif]-->

</td>
</tr>
<tr>
<td bgcolor="#ebeae8" style="padding: 10px 50px;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center; font-family:Arial, sans-serif; font-size: 12px; letter-spacing: 2px; font-weight: bold; color:#666666">

<div>
STORIES FROM CALISTOGA RANCH
</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 5px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 40px; color:#bbbab8;">

<div>
Do
</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 28px; color:#36404f;">

<div>
Above the Treetops


</div>

</td>
</tr>
<tr>
<td class="imagecontainer" style="text-align: center;" align="center"><a href="https://aubergeresorts.com/calistogaranch/stories/above-the-treetops/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" target="_blank"><img width="480" border="0" src="https://assets.navisperformance.com/Assets/14824/TD/Images/Screen-Shot-2019-07-08-at-3.58.27-PM_20190708230100.png" alt="" style="border: 0; display: block; max-width: 480px; width: 100%; height: auto;"/></a>

</td>
</tr>
<tr>
<td style="padding: 20px 0px 20px 0px; text-align: left; font-family:Times, Times New Roman, Georgia, serif; font-size: 18px; color:#666666">

<div>
A half-mile hike sounds like a short walk through the woods, but the ranch’s golf cart driver dropped me, a novice hiker, at the Valley View Trail Head, made of Calistoga’s distinctive volcanic bedrock. Janet, my visiting friend from the East Coast and I were thrilled to embark on this slight incline, which to our delight was aptly rated “moderate.”




</div>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 10px 0px;">

<table cellspacing="0" cellpadding="0" border="0" align="left" >
<tbody>
<tr>
<td style="padding: 0px 10px 0px 0px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 18px; color:#36404f">
<div>
Ready to Try New Adventures</div>
</td>
<td bgcolor="#ffffff" style="padding: 0px 10px 0px 10px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 10px; color:#666666">
GUEST

</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
<td style="padding: 0px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666">

<div>
</div>

</td>
</tr>
<tr>
<td style="padding: 10px 0px 10px 0px; text-align: center;">

<!-- line -->	
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<tbody>
<tr>
<td bgcolor="#cccccc" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<tr>
<td style="padding: 10px 0px 20px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666; font-weight: bold;">

<table cellspacing="0" cellpadding="0" border="0" align="left" >
<tbody>
<tr>
<td style="padding: 0px 0px 0px 0px; text-align: left; font-family:Arial, sans-serif; font-size: 12px; color:#666666; font-weight: bold;">
<div>
<a style="color:#666666; text-decoration: none;" href="https://aubergeresorts.com/calistogaranch/stories/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" target="_blank">Read More Stories</a> </div>
</td>
<td style="padding: 0px 10px 0px 10px; text-align: left; font-family:Arial, sans-serif; font-weight: bold; font-size: 10px; color:#666666"><a href="https://aubergeresorts.com/stories/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img src="http://assets.navisperformance.com/Assets/14877/TD/Images/new-lifecycle-arrow-right-transparent_20181130201726.png"/></a>

</td>
</tr>
</tbody>
</table>

</td>
</tr>

</tbody>
</table>

</td>
</tr>
<tr>
<td height="48" style="background-position: right; background-repeat: no-repeat; background-size: cover; height:36pt; vertical-align: middle; background:url(http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg)" background="http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" valign="middle" bgcolor="#ebeae8">
<!--[if gte mso 9]>

<v:image xmlns:v="urn:schemas-microsoft-com:vml" id="theImage" style="behavior: url(#default#VML); display: inline-block; position: absolute; width: 435pt; height:36pt; top: 0; left: 0; border: 0; z-index: 1;" src="http://assets.navisperformance.com/Assets/14877/TD/Images/ESP_LC_tornpaperbottom2_20181219181421.jpg" />

<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="display: inline-block; position: absolute; width: 435pt; height:36pt; top: 0; left: 0; border: 0; z-index: 2;">
<v:fill color="#000000" opacity="0%" style="z-index: 1;"/>
<v:textbox inset="0,0,0,0">
<div>
<div style="font-size:0; line-height:0;">

<![endif]-->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td class="autoheight" valign="middle" style="vertical-align:middle;">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="padding: 0px 30px 0px 30px; text-align: center;">

<!-- button -->
<table height="30" border="0" cellpadding="0" cellspacing="0" align="center" >
<tbody>
<tr>
<td height="30" style="border-radius:15px; color:#383838; height:30px; font-size:10px; letter-spacing: 1px; text-align:center; font-family:Arial, sans-serif; font-weight:bold; background-color: #e6c870; padding: 0px 15px 0px 15px;" align="center">

<a class="button30" target="_blank" href="http://aubergeresorts.com/stories/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa&NCK=8775094561" style="color:#383838; text-decoration:none;">READ THE STORIES<span style="padding: 0px 0px 0px 10px"><img src="http://assets.navisperformance.com/Assets/14877/TD/Images/ico_arrow_2_esp_20181130215628.png"/></span></a>

</td>
</tr>
</tbody>
</table>
<!-- button -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

<!--[if gte mso 9]>
</div>
</v:textbox>
</v:fill>
</v:rect>
</v:image>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!-- Content -->	

</td>
</tr>
<!--======== ONE COLUMN IMAGE + TEXT ===========-->

<!--======== HORIZONTAL LINE 20 ===========-->
<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->	
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%!important; min-width: 100%;" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>
<!--======== HORIZONTAL LINE 20 ===========-->



<!--======== FOOTER ===========-->
<tr>
<td class="container" width="620" bgcolor="#ffffff" style="padding: 10px 20px; font-size: 0px; text-align: left;">

<table width="100%" cellspacing="0" cellpadding="0" border="0" >
<tbody>
<tr>
<td class="autoheight" valign="middle" height="135" style="padding: 0px; height: 135px; vertical-align: middle;" align="center">

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" >
<tbody>
<tr>
<td style="text-align: left; font-family: Arial, sans-serif; font-size: 12px; line-height: 20px; color:#9b9b9b; padding: 0px 0px 0px 0px;">
   
 Terms and Conditions for all offers: Blackout dates and minimum stay requirements may apply. Other restrictions may apply. Rates are per room, per night and based on availability at the time of reservation. Taxes and resort fees are additional. Offer may not be combined with any other offer and is subject to change at any time without notice. Resort credits or packaged inclusions in offers have no cash value and cannot be used towards room rates or resort fees. Offers do not apply to groups of 10 or more rooms.
 
    <br/><br/>
This email was sent to: %%CRMemail%%<br/>
This email was sent by: %%Member_Busname%%<br/>
%%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_Country%% %%Member_PostalCode%%<br/>
&copy; 2019 Auberge Resort Collection<br/>

<a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Unsubscribe</a> |
<a style="color: #e6c870;" href="%%navis_subscription_center%%" target="_blank">Update Profile</a> |
<a style="color: #e6c870;" href="http://aubergeresorts.com/privacy-policy/" target="_blank">Privacy Policy</a>




</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</td>
</tr>

<tr>
<td style="padding: 10px 20px 10px 20px; text-align: center;">

<!-- line -->	
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%!important; min-width: 100%;" >
<tbody>
<tr>
<td bgcolor="#999999" height="1" style="font-size:1px; line-height:1px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- line -->

</td>
</tr>

<tr>
<td class="center" style="padding: 10px 20px 20px 20px; text-align: center;"><a href="http://aubergeresorts.com/?utm_source=Reach&utm_medium=email&utm_campaign=071119-arc-email-napa" target="_blank"><img width="200" border="0" src="http://assets.navisperformance.com/Assets/14824/TD/Images/ARC_HorSmall_rgb_20181114163828_20181206203011.jpg" alt="" style="border: 0; display: inline-block; min-width: 222px; width: 222px;"/></a>

</td>
</tr>
<!--======== FOOTER ===========-->

</tbody>
</table>
<!-- Content -->

</td>
</tr>
</tbody>
</table>
<!-- Container -->

</td>
</tr>
</tbody>
</table>
<!--======== ALL THE CONTENT  ===========-->

<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</tbody>
</table>
<![endif]-->

</td>
</tr>
</tbody>
</table>
<!--======== WRAPPER ===========-->